@for $i from 2 through 12 {
  .thumbnails-up-#{$i} {
    @include grid-layout(#{$i}, '.thumb-col', $space-xs);
    margin-bottom: $space;
    padding-left: $space-xs;
    padding-right: $space-xs;
  }
}

@each $ratio, $percentage in $aspect-ratios {
  .img-#{$ratio} {
    padding-top: $percentage;
    width: 100%;
    height: 0;
    position: relative;
    background-position: center;

    .info,
    .overlay {
      margin-top: -$percentage;
    }
  }

  .card > .img-#{$ratio} {
    border-radius: $space-xxxs $space-xxxs 0 0;
  }
}

.thumbnail {
  cursor: pointer;
  box-shadow: none;

  &.brand {
    width: $space-xxl;
    margin-bottom: 0;
    float: left;
  }
  &.in-table {
    border-radius: 1px;
    margin: 0 $space-xxxs 0 0;
    max-height: $space-m;
    &.main {
      max-height: $space-xxxl;
    }
  }
  &.can-hero {
    opacity: 0.5;
  }
  &.is-hero {
    box-shadow: $thumbnail-shadow-hero;
    opacity: 1;
  }
}

.avatar {
  width: $space-xxl;
  height: $space-xxl;
  margin: 0 $space-s 0 0;
  font-size: $space;
  line-height: 2;
  color: $white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  .initials {
    position: relative;
    top: 10%;
    color: $white;
    font-weight: bold;
  }

  &.small {
    width: $space-l;
    height: $space-l;
    .initials {
      top: -10%;
      font-size: $space-s;
    }
  }
  &.large {
    width: $space-xxxl;
    height: $space-xxxl;
    .initials {
      top: 15%;
      font-size: $space-l;
    }
  }
  &.float-right {
    margin: 0 0 0 $space-s;
  }
}