@for $i from 2 through 6 {
  .thumbnails-up-#{$i} {
    @include grid-layout(#{$i}, '.thumb-col', $space-xs);
    margin-bottom: $space;
  }
}

.thumbnail {
  cursor: pointer;
  &.brand {
    width: $space-xxl;
    margin-bottom: 0;
    float: left;
  }
  &.in-table {
    border-radius: 1px;
    margin: 0 $space-xxxs 0 0;
    max-height: $space-m;
    &.main {
      max-height: $space-xxxl;
    }
  }
}

// Orbit / Gallery Overrides 
.orbit.callout {
  padding: 0 0 $space-s 0;
}

.orbit-bullets {
  padding: 0 $space-xs;
  button {
    cursor: pointer;
  }
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}

.orbit-caption {
  &.center {
    text-align: center;
  }
}
