// ADK Font Weights
@each $weight, $value in $adk-font-weights {
  &.fw-#{$weight} {
    font-weight: $value;
  }
}

// ADK Font Sizes
@each $size, $value in $adk-font-sizes {
  &.fs-#{$size} {
    font-size: $value;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.bold {
    font-weight: $global-weight-bold;
  }
  &.light {
    font-weight: $global-weight-light;
  }
}

.row.actionbar > h1,h2,h3,h4,h5 {
  margin-bottom: 0;
}

a.underline,
p > a {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid rgba($adk-blue, 0.6);
  word-wrap: break-word;
  &:hover {
    border-bottom: 1px solid $adk-blue;
  }
}

p {
  word-wrap: break-word;
}

// Override past Architizer <a> styles
a {
  &:after {
    content: none;
  }
}

// Styling for Metadata
.meta {
  font-size: $font-size-s;
  color: $light-gray;
  span + span {
    display: inline-block;
    padding-left: 8px;
    &::before{
      content: "|";
      padding-right: 8px;
      color: map-get(generate-palette($adk-quicksilver), 400);
    }
  }
}

// Ellipsis text overflow
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Strikethrough
.strikethrough {
  text-decoration: line-through;
}
