// Badge types
.beta {
  line-height: 1;
  border-radius: 15px;
  vertical-align: middle;
  display: inline-block;
  padding: $space-xxxs $space-xxs;
  color: $white;
  font-size: $font-size-s;
  @include smallcaps;
  @include weight-medium;
}

.verified {
  line-height: 1;
  display: inline-block;
  color: $adk-blue;
  font-size: 1.5625rem;
  font-family: "Architizer Glyphs";
}

.pro {
  color: $adk-blue;
  font-size: $font-size-s;
  @include smallcaps;
  @include weight-medium;

}