// Card Types
.card {
  padding: $card-padding;
  overflow: initial;
  position: relative;
  border: 1px solid rgba($adk-gunmetal, 0.4);

  &.multi-image {
    // `multi-image` card wraps a container div around image items.
    .image-items-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      padding: 10px 0 10px 10px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .image-item {
      width: 31%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $extra-light-gray;
      border-radius: $space-xxxs;

      &:nth-child(1) {
        height: 100%;
      }

      &:nth-child(2),
      &:nth-child(4) {
        margin: 0 0 10px 0;
      }
    
      &:nth-child(2),
      &:nth-child(5) {
        height: calc(35% - 5px); 
      }
    
      &:nth-child(3),
      &:nth-child(4) {
        height: calc(65% - 5px);
      }
    }
  }

  &.masonry {
    float: left;
    margin-right: $space-xs;
    display: inline-block;
    // Small breakpoint width
    width: $card-size-small;

    .card-image {
      height: $card-size-small / 1.33;  //4:3 by default
      &.ratio-16-9 {
        height: $card-size-small / 1.77;
        width: inherit;
      }
    }

    // Medium breakpoint width
    @include breakpoint(medium) {
      width: $card-size-base;
      .card-image {
        height: $card-size-base / 1.33;
        &.ratio-16-9 {
          height: $card-size-base / 1.77;
          width: inherit;
        }
      }
    }
  }

  &.recommended {
    float: left;
    margin-right: $space-xs;
    padding-bottom: $space-xxxs;
    display: inline-block;
    // Small breakpoint width
    width: $card-size-xxsmall;

    .card-image {
      height: $card-size-xxsmall / 1.33;  //4:3 by default
      &.ratio-16-9 {
        height: $card-size-xxsmall / 1.77;
        width: inherit;
      }
    }

    .subtitle {
      color: $light-gray;
    }

    // Medium breakpoint width
    @include breakpoint(medium) {
      width: $card-size-xsmall;
      .card-image {
        height: $card-size-xsmall / 1.33;
        &.ratio-16-9 {
          height: $card-size-xsmall / 1.77;
          width: inherit;
        }
      }
    }
  }

  // // Use flex class to overide fixed width and use the grid to size the card instead
  // &.flex {
  //   width: inherit;
  //   display: block;
  //   margin-right: 0px;
  // }

  &.clickable {
    cursor: pointer;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 100ms cubic-bezier(0.215,.61,.355,1);
    &:hover {
      box-shadow: 0 0 12px rgba($adk-quicksilver, 0.4);
    }
    &:active {
      box-shadow: 0 0 2px 2px rgba($adk-blue, 0.4);
      border-color: $adk-blue;
    }
  }

  &.message {
    min-width: $card-size-base;
  }

  // Inactive cards
  &.inactive {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  // Style cards with notification dots
  &.has-notification-dot:before {
    @include notification-dot;
    position: absolute;
    z-index: 1;
    top: -$space-xxs;
    left: -$space-xxs;
  }

  .caption {
    font-size: $font-size-s;
    font-weight: $global-weight-bold;
    line-height: 1;
    color: $adk-quicksilver;
  }

  .card-button {
    @include card-divider;
    border-top: $global-separator;
    margin: 0 -$space;
    margin-top: 0;
    text-align: center;
  }

  .card-section {
    margin: $card-content-margin;
    padding: 0;

    // Overwrite padding and margin on .row/.column children of .card-section
    .row,
    .columns {
      padding: 0;
      margin: 0;
    }

    // No margin on last card section
    &:last-of-type {
      margin: 0;
    }
  }
}

/**
 * Images at the top of cards
 *
 * Use with `style="background-image:url('/put/the/path/here')"`
 *
 * Add the .card-image-no-margin class to make the image extend outside the margins
 * 
 * Add the .ratio-16-9 to change the aspect ratio from 4:3 to 16:9
 */
.card-image {
  position: relative;
  border-radius: $space-xxxs $space-xxxs 0 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // height: $card-size-small / 1.33;  //4:3 by default
  width: inherit;

  &.card-image-no-margin {
    margin-left: -$space;
    margin-right: -$space;
    margin-top: -$space;
  }

  // Small breakpoint height
  height: 5rem;

  // Medium breakpoint height
  @include breakpoint(medium) {
    height: 10rem;
  }

  // Large breakpoint height
  @include breakpoint(large) {
    height: 15rem;
  }
}
