$table-cell: $font-size;
$table-cell-small: $font-size-s;

table {
  border-collapse: collapse;
  font-size: 16px;
  tbody, 
  thead {
    border: none; // Clear default table-border while preserving the $table-border variable
  }
  thead, 
  tbody tr {
    border: none; // Remove default border-bottom on tbody tr
    border-bottom: $table-border;
    background-color: $white
  }
  thead tr *, 
  tfoot tr * {
    color: $black;
    font-weight: $global-weight-bold;
    font-size: $font-size-s;
    // background-color: $white;
  }
  thead th {
    padding: $space $space-s;
  }
  tr {
    .right {
      text-align: right;
    }
    .center {
      text-align: center;
    }
    .small {
      font-size: $font-size-s;
    }
    .action {
      font-size: $table-cell-small !important;
      color: $adk-blue !important;
      text-align: center !important;
    }
  }
  tbody > .inactive {
    opacity: 0.3;
  }
}

// Make tables scroll on mobile small screens
@include breakpoint(small) {
  table {
    overflow-x: auto;
    display: block;
  }
}
@include breakpoint(medium) {
  table {
    display: table;
    overflow-x: hidden;
  }
}