/**
 * Architizer Design Kit Variables
 *
 * Define global variables here.
 *
 * Avoid defining variables inside of individual component files.
 *
 * If a variable needs to be accessible across multiple components, consider
 * abstracting it and defining it here.
 */


/**
 * Scale and Spacing Variables
 */

// Power function to allow for skipping parts of the scale
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

// Base scale
$scale: 1.25; // (Major Third)

// Base spacing
$space: 1rem;

$space-m: $space*$scale;
$space-l: $space-m*$scale;
$space-xl: $space-l*$scale;
$space-xxl: $space-xl*$scale;
$space-xxxl: $space-xxl*$scale;
$space-s: $space/$scale;
$space-xs: $space-s/pow($scale, 2);
$space-xxs: $space-xs/pow($scale, 2);
$space-xxxs: $space-xxs/pow($scale, 2);
$space-micro: $space-xxxs/pow($scale, 2);

$sizes: (
  0: 0,
  micro: $space-micro,
  xxxs: $space-xxxs,
  xxs: $space-xxs,
  xs: $space-xs,
  s: $space-s,
  base: $space,
  m: $space-m,
  l: $space-l,
  xl: $space-xl,
  xxl: $space-xxl,
  xxxl: $space-xxxl,
);

/**
 * Type Variables
 */

$font-size-xs: $space-xs;
$font-size-s: $space-s;
$font-size: $space;
$font-size-m: $space-m;
$font-size-l: $space-l;

$adk-font-sizes: (
  xs: $space-xs,
  s: $space-s,
  base: $space,
  m: $space-m,
  l: $space-l,
);

$adk-font-weights: (
  extralight: 100,
  light: 400,
  normal: normal,
  bold: 800,
);

// Header sizing follows scale
$header-margin-bottom: $space-xs;
$header-styles: (
  small: (
    'h1': ('font-size': $space-s + ($space-micro*5)),
    'h2': ('font-size': $space-s + ($space-micro*4)),
    'h3': ('font-size': $space-s + ($space-micro*3)),
    'h4': ('font-size': $space-s + ($space-micro*2)),
    'h5': ('font-size': $space-s + $space-micro),
    'h6': ('font-size': $space-s),
  ),
  medium: (
    'h1': ('font-size': $space-xxl),
    'h2': ('font-size': $space-xl),
    'h3': ('font-size': $space-l),
    'h4': ('font-size': $space-m),
    'h5': ('font-size': $space),
    'h6': ('font-size': $space-s),
  ),
);

/**
 * CSS Grid Variables
 */

$grid-width: 1280px;
$sidebar-width: 300px;
$grid-gutter: $space-s;

/**
 * Color Variables
 */

// Neutrals
$white: #fff;
$extra-light-gray: #F7F9FA;
$light-gray: #9E9E9E;
$medium-gray: #757575;
$dark-gray: #292929;
$black: #292929;

// Palette colors
$adk-blue: #1CA3FC;
$adk-green: #22d290;
$adk-red: #ff4b1f;
$adk-yellow: #ffcd00;
$adk-quicksilver: #859DAF;
$adk-gunmetal: #b8c8d1;
$adk-gray: $medium-gray;

$adk-global-separator-color: rgba($adk-quicksilver, 0.3);
$adk-global-separator: 1px solid $adk-global-separator-color;

$adk-typeahead-select: rgba(125, 168, 208, 0.2);

$adk-palette-colors: (
  blue: $adk-blue,
  green: $adk-green,
  red: $adk-red,
  yellow: $adk-yellow,
  quicksilver: $adk-quicksilver,
  gunmetal: $adk-gunmetal,
  gray: $adk-gray,
  global-separator: $adk-global-separator-color,
);

$adk-neutral-colors: (
  white: $white,
  extra-light-gray: $extra-light-gray,
  light-gray: $light-gray,
  medium-gray: $medium-gray,
  black: $black,
);

@function generate-palette($color) {
  $palette: (
    50: lighten($color, 35%),
    100: lighten($color, 28%),
    200: lighten($color, 21%),
    300: lighten($color, 14%),
    400: lighten($color, 7%),
    500: $color,
    600: darken($color, 7%),
    700: darken($color, 14%),
    800: darken($color, 21%),
    900: darken($color, 28%)
  );
  @return $palette;
};


/**
 * Image Variables
 */

// Width to Height
$aspect-ratios: (
  square: percentage(1/1),
  half: percentage(1/2),
  standard: percentage(3/4),
  wide: percentage(9/16),
  gold: percentage(1/1.618)
);

/**
 * Card Variables
 */
$card-content-margin: 0 0 $space-xxs 0;

// Card sizes
$card-size-base: 360px;
$card-size-small: 320px;
$card-size-xsmall: 270px;
$card-size-xxsmall: 230px;


/**
 * Transitions
 */
$row-hover-time: 0.12s;