#Header, #header {
  #dropdown {
    position: relative;
    display: inline-block;
    .active > a {
      color: #FFF;
    }
  }

  #dropdown-content {
    // hidden by default
    display: none;
    position: absolute;
    right: 0px;
    top: 47px;
    width: 220px;
  }

  #nav-dropdown-content {
    // hidden by default
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
  }

  #nav-dropdown-links {
    .active > a {
      color: #FFF;
    }
  }

  ul.menu a {
    color: #bcbcbc;
  }

  ul.menu a:hover {
    color: #FFF;
  }

  a {
    color: #bcbcbc;
  }

  a:hover {
    color: #FFF;
  }
}
