/**
 * adk-loading-spinner
 * Loading Spinner Mixin
 *
 * This is designed to be used as a :before or :after element
 *
 * Include it like this:
 *
 *  .my-class-to-include-a-loader-on.loading:before {
 *    @include adk-loading-spinner($space);
 *
 *    // Position the loading spinner like this: (customize for the class you need to extend)
 *    position: absolute;
 *    margin-top: 0.75rem;
 *    top: 50%;
 *    right: 2rem;
 *    z-index: 10;
 *
 *  }
 */
@mixin adk-loading-spinner ($size: $space) {
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  $spinner-width: $size/8;

  content: '';
  box-sizing: border-box;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $spinner-width solid map-get(generate-palette($adk-quicksilver), 100);
  border-top-color: $adk-quicksilver;
  animation: spinner .6s linear infinite;
}

// Loaders as individual elements
// Use this: <div class="loader-s"></div>
.loading-spinner-s {
  position: relative;
  width: $space-s;
  height: $space-s;
  &:after {
    @include adk-loading-spinner($space-s);
    position: absolute;
  }
}

.loading-spinner-m {
  position: relative;
  width: $space-m;
  height: $space-m;
  &:after {
    @include adk-loading-spinner($space-m);
    position: absolute;
  }
}

.loading-spinner-l {
  position: relative;
  width: $space-l;
  height: $space-l;

  &:after {
    @include adk-loading-spinner($space-l);
    position: absolute;
  }
}

/**
 * notification-dot
 * Notification Dot Mixin
 *
 * This is designed to be used as a :before or :after element
 *
 * Include it like this:
 *
 * .my-class-to-include-a-notification-dot-on:before {
 *    @include notification-dot;
 *
 *    // Position the notification dot like this: (customize for the class you need to extend)
 *    position: absolute;
 *    z-index: 1;
 *    top: -$space-xxs;
 *    left: -$space-xxs;
 *
 * }
 */

@mixin notification-dot {
  content: "\00A0";
  width: $space-s;
  height: $space-s;
  background: $adk-red;
  border-radius: 50%;
  display: block;
}

// Type mixins
@mixin smallcaps {
  font-variant: all-small-caps;
  letter-spacing: .5px;
}

@mixin weight-light {
  font-family: 'TeXGyreHerosRegular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin weight-regular {
  font-family: 'TeXGyreHerosRegular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin weight-medium {
  font-family: 'TeXGyreHerosRegular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin weight-bold {
  font-family: 'TeXGyreHerosBold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
