//Actionbar Layout
.row {
  &.actionbar {
    margin:0;
    max-width: none;
    padding: $actionbar-padding;
    border-bottom: $global-separator;
    background-color: $white;
  }
}

.row.actionbar > .columns {
  padding:0;
}