// Text Inputs - get rid of box shadow
textarea, input {
  &:hover {
    border: $input-border-hover;
  }
}
input[type="checkbox"] + label,
input[type="radio"] + label,  {
  color: $black;
}

span.input-group-label {
  background: transparent;
  border-radius: 0 $global-radius $global-radius 0;
}

//Utility classes for `.no-resize` on textareas
.no-h-resize {
  resize: vertical;
}
.no-v-resize {
  resize: horizontal;
}

/**
 * Form Errors
 *
 * This is forked from /scss/forms/_error.scss in Foundation for Sites.
 *
 * We have copied Foundation's mixins and prefixed them with `adk-` so we can control all the aspects of form input errors explicitly.
 *
 * The original Foundation _error.scss file includes default variable values.
 * We omitted the defaults in this file because they can still be overwritten in scss/_settings.scss if needed.
 */

/// Styles the background and border of an input field to have an error state.
///
/// @param {Color} $background [$alert-color] - Color to use for the background and border.
/// @param {Number} $background-lighten [10%] - Lightness level of the background color.
@mixin adk-form-input-error(
  $background: $input-background-invalid,
  $background-lighten: 10%
) {
  &:not(:focus) {
    border-color: $background;
    background-color: mix($background, $white, $background-lighten);
    color: $background; // Make the text match the border

    &::placeholder {
      color: $background;
    }
  }
}

// Add form input error styles for Angular validator classes
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  @include adk-form-input-error;
}