a {
  &.menu {
    color: $dark-gray;
    border-bottom: $thick-underline;
    &:hover {
      color: $black;
      border-bottom: $thick-underline-hover;
    }
    &.button {
      border-bottom: none;
    }
  }
}

ul {
  &.menu {
    a {
      color: $adk-quicksilver;
      border-bottom: none;
      &:hover {
        color: $menu-item-color-hover;
      }

      // Disabled links in dropdowns
      &.disabled {
        color: map-get(generate-palette($adk-quicksilver), 200);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.tabs {
    border-bottom: none;
    overflow-x: auto;
    white-space: nowrap;
    & li.tabs-title {
      float: none;
      display: inline-block;
    }
  }
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

.is-dropdown-submenu {
  border-radius: $global-radius;
  .is-dropdown-submenu-item:hover {
    background-color: $global-hover;
  }
}

//Dropdown
.dropdown-pane, .is-dropdown-submenu {
  box-shadow: 0 0 12px rgba($black,.22);
  -webkit-box-shadow: 0 0 12px rgba($black,.22);
  padding: $space-xs 0;
  background-color: $white !important;
  z-index: 1000;
}