/**
 * Architizer Design Kit Variables
 *
 * Define global variables here.
 *
 * Avoid defining variables inside of individual component files.
 *
 * If a variable needs to be accessible across multiple components, consider
 * abstracting it and defining it here.
 */

/**
 * Scale and Spacing Variables
 */

// Power function to allow for skipping parts of the scale
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

// Base scale
$scale: 1.25; // (Major Third)

// Base spacing
$space: 1rem;

$space-m: $space*$scale;
$space-l: $space-m*$scale;
$space-xl: $space-l*$scale;
$space-xxl: $space-xl*$scale;
$space-xxxl: $space-xxl*$scale;
$space-s: $space/$scale;
$space-xs: $space-s/pow($scale, 2);
$space-xxs: $space-xs/pow($scale, 2);
$space-xxxs: $space-xxs/pow($scale, 2);
$space-micro: $space-xxxs/pow($scale, 2);

$sizes: (
  0: 0,
  micro: $space-micro,
  xxxs: $space-xxxs,
  xxs: $space-xxs,
  xs: $space-xs,
  s: $space-s,
  base: $space,
  m: $space-m,
  l: $space-l,
  xl: $space-xl,
  xxl: $space-xxl,
  xxxl: $space-xxxl,
);

/**
 * Color Variables
 */

// Neutrals
$white: #fff;
$extra-light-gray: #F7F9FA;
$light-gray: #9E9E9E;
$medium-gray: #757575;
$dark-gray: #292929;
$black: #292929;

// Palette colors
$adk-blue: #1CA3FC;
$adk-green: #22d290;
$adk-red: #ff4b1f;
$adk-yellow: #ffcd00;
$adk-quicksilver: #859DAF;
$adk-gunmetal: #b8c8d1;

$adk-palette-colors: (
  blue: $adk-blue,
  green: $adk-green,
  red: $adk-red,
  yellow: $adk-yellow,
  quicksilver: $adk-quicksilver,
  gunmetal: $adk-gunmetal,
  gray: $medium-gray,
);

$adk-neutral-colors: (
  white: $white,
  extra-light-gray: $extra-light-gray,
  light-gray: $light-gray,
  medium-gray: $medium-gray,
  black: $black,
);

@function generate-palette($color) {
  $palette: (
    50: lighten($color, 35%),
    100: lighten($color, 28%),
    200: lighten($color, 21%),
    300: lighten($color, 14%),
    400: lighten($color, 7%),
    500: $color,
    600: darken($color, 7%),
    700: darken($color, 14%),
    800: darken($color, 21%),
    900: darken($color, 28%)
  );
  @return $palette;
};

/**
 * Type Variables
 */

// T-shirt font sizes based on scale
$font-size-xs: $space-xs;
$font-size-s: $space-s;
$font-size: $space;
$font-size-m: $space-m;
$font-size-l: $space-l;

/**
 * Button Variables
 */

// Button Paddings
$button-paddings: (
  pill: $space-xxs,
  tiny: $space-xs,
  small: $space-s $space-xs,
  default: $space,
  large: $space $space-m,
);

// Button Font Sizes
$button-font-sizes: (
  pill: $font-size,
  tiny: $font-size-s,
  small: $font-size-s,
  default: $font-size,
  large: $font-size-m,
)
