// Card Types
.card {
  padding: $card-padding;
  &.clickable {
    cursor: pointer;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow, 0.1s;
    &:hover {
      box-shadow: 0 0 0 2px rgba($adk-blue, 0.8);
      border-color: rgba($adk-blue, 0.8);
    }
    &:active {
      border-color: $adk-blue;
    }
  }
  &.message {
    min-width: 360px;
  }
  .caption {
    font-size: $font-size-s;
    font-weight: $global-weight-bold;
    line-height: 1;
    color: $adk-quicksilver;
    &.new {
      color: $adk-blue;
    }
    &.shortlist {
      color: $adk-green;
    }
    &.error {
      color: $adk-red;
    }
  }
  .card-footer {
    @include card-divider;
    border-top: $global-separator;
    padding: $space-s 0 0 0;
  }
  .card-button {
    @include card-divider;
    border-top: $global-separator;
    margin: 0 -$space;
    margin-top: 0;
    text-align: center;
  }
  img {
    border-radius: $global-radius;
  }
  .row {
    margin: $card-content-margin;
    &.no-padding {
      margin-left: -$space;
      margin-right: -$space;
      margin-top: -$space-s;
      img {
        border-radius: 0;
      }
    }
  }
  .columns, * {
    padding: 0;
    &.right {
      text-align: right;
    }
  }
}

// Card Content
// Spacing/gutters in cards should come from the card itself, which has it's own padding.
// This overrwrites default spacing on elements that exist within cards.
// The elements inside card componenents should only have margin-bottom for vertical spacing. 
.card-divider, 
.card-section {
  padding: 0;
  margin: $card-content-margin;
}