/**
 * Utility classes for common display properties
 */
.display-inline-block,
.inline-block {
  display: inline-block !important;
}

// Action Bar
.actionbar {
  @include flex-align(null, middle);
  width: 100%;
  padding: $space-s 0;
  background-color: $white;
  border-bottom: $global-separator;
}

// Logos
.nav-logo {
  width: 120px;
}
