.list-view-header {
  padding: 0.5em 1em;
  height: 40px;
  h5 {
    font-weight: $global-weight-bold;
  }
}

.list-view {
  max-height: 100%;
  // Height equals 100% of parent height, 
  // minus height of `.list-view-header` as described above.
  height: calc(100% - 40px); 
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  margin: 0;

  &.no-header {
    height: 100%;
  }

  .list-item {
    min-height: 70px;
    padding: 0.5em 0;
    margin: 0 0.5em;  
    border-bottom: $global-separator;
    
    .subtitle {
      color: $light-gray;
    }

    .title {
      font-weight: $global-weight-bold;
    }

    .list-item-image {
      span {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        width: 50px;
        height: 50px;
        display: block;
      }
    }
  }
}
 
