@for $i from 2 through 6 {
  .thumbnails-up-#{$i} {
    @include grid-layout(#{$i}, '.thumb-col', $space-xs);
    margin-bottom: $space;
  }
}

.thumbnail.brand {
  width: $space-xxl;
  margin-bottom: 0;
  float: left;
}