// Text Inputs - get rid of box shadow
textarea, input {
  &:hover {
    border: $input-border-hover;
  }
}
input[type="checkbox"] + label,
input[type="radio"] + label,  {
  color: $black;
}

span.input-group-label {
  background: transparent;
  border-radius: 0 $global-radius $global-radius 0;
}
