ul.menu {
	a {
	color: $quicksilver;
	&:hover {
		color: $menu-item-color-hover;
		}
	}
}

.is-dropdown-submenu {
	border-radius: $global-radius;
	.is-dropdown-submenu-item:hover {
		background-color: $global-hover;
	}
}