/**
 * _adk-buttons.scss
 *
 * This is effectively a fork of /scss/components/_button.scss in Foundation for Sites.
 *
 * We have copied Foundation's mixins and prefixed them with `adk-` so we can control all the aspects of buttons explicitly.
 *
 * The original Foundation _button.scss file includes default variable values. 
 * We omitted the defaults in this file because they can still be overwritten in scss/_settings.scss if needed.
 */

 /**
  * Button Variables
  */

 // Button Paddings
 $adk-button-paddings: (
   pill: $space-xxs,
   tiny: $space-xs,
   small: $space-s $space-xs,
   default: $space-s $space,
   large: $space $space-m,
   icon: $space-xxs,
 );

 // Button Font Sizes
 $adk-button-font-sizes: (
   pill: $font-size,
   tiny: $font-size-s,
   small: $font-size-s,
   default: $font-size,
   large: $font-size-m,
   icon: $font-size-m,
 );

 $adk-button-padding: $space-s $space;
 $adk-button-margin: 0 0 $global-margin 0;
 $adk-button-fill: solid;
 $adk-button-background: $primary-color;
 $adk-button-background-hover: scale-color($adk-button-background, $lightness: -15%);
 $adk-button-color: $white;
 $adk-button-color-alt: $black;
 $adk-button-radius: $global-radius;
 $adk-button-palette: $foundation-palette;
 $adk-button-opacity-disabled: 0.25;
 $adk-button-background-hover-lightness: -20%;
 $adk-button-hollow-hover-lightness: -50%;
 $adk-button-icon-hover-lightness: -20%;
 $adk-button-transition: background-color 0.15s ease-out, color 0.15s ease-out;


// TODO: Document button-base() mixin
/// This mixin creates the default button distinct from the rest of the buttons in the button-paddings/button-font-sizes maps
@mixin adk-button-base {
  @include disable-mouse-outline;
  display: inline-block;
  vertical-align: middle;
  margin: $adk-button-margin;
  padding: map-get($adk-button-paddings, default);

  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius:  $adk-button-radius;
  transition: $adk-button-transition;

  font-size: map-get($adk-button-font-sizes, default);
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

/// Expands a button to make it full-width.
/// @param {Boolean} $expand [true] - Set to `true` to enable the expand behavior. Set to `false` to reverse this behavior.
@mixin adk-button-expand($expand: true) {
  @if $expand {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  @else {
    display: inline-block;
    width: auto;
    margin: $adk-button-margin;
  }
}

/// Sets the visual style of a button.
/// @param {Color} $background [$button-background] - Background color of the button.
/// @param {Color} $background-hover [$button-background-hover] - Background color of the button on hover. Set to `auto` to have the mixin automatically generate a hover color.
/// @param {Color} $color [$button-color] - Text color of the button. Set to `auto` to automatically generate a color based on the background color.
@mixin adk-button-style(
  $background: $adk-button-background,
  $background-hover: $adk-button-background-hover,
  $color: $adk-button-color,
  $background-hover-lightness: $adk-button-background-hover-lightness
) {
  @if $color == auto {
    $color: color-pick-contrast($background, ($adk-button-color, $adk-button-color-alt));
  }

  @if $background-hover == auto {
    $background-hover: scale-color($background, $lightness: $background-hover-lightness);
  }

  background-color: $background;
  color: $color;

  &:hover, &:focus {
    background-color: $background-hover;
    color: $color;
  }
}

/// Removes background fill on hover and focus for hollow buttons.
@mixin adk-button-hollow {
  &,
  &:hover, &:focus {
    background-color: transparent;
  }
}

@mixin adk-button-hollow-style(
  $color: $primary-color,
  $hover-lightness: $adk-button-hollow-hover-lightness
) {
  $color-hover: scale-color($color, $lightness: $hover-lightness);

  border: 1px solid $color;
  color: $color;

  &:hover, &:focus {
    border-color: $color-hover;
    color: $color-hover;
  }
}

// Icon Button Mixins
@mixin adk-button-icon {
  margin-bottom: 0;
  &,
  &:hover, &:focus {
    background-color: transparent;
  }
  &.fill:hover {
    background-color: inherit;
  }
}

@mixin adk-button-icon-style(
  $color: $primary-color,
  $hover-lightness: $adk-button-icon-hover-lightness
) {
  $color-hover: scale-color($color, $lightness: $hover-lightness);

  border: 1px solid transparent;
  color: $color;

  &:hover, &:focus {
    border: 1px solid $color-hover;
    color: $color-hover;
  }
  &.fill {
    color: $white;
    border: 1px solid transparent;
    background-color: $color;
    &:hover, &:focus {
      background-color: $color-hover;
    }
  }
}

/// Adds disabled styles to a button by fading the element, reseting the cursor, and disabling pointer events.
@mixin adk-button-disabled($color: $primary-color) {
  opacity: $adk-button-opacity-disabled;
  cursor: not-allowed;

  &:hover, &:focus {
    background-color: $color;
    // Don't change the text color on hover for disabled:
    // color: $adk-button-color;
  }

  &.hollow {
    @include adk-button-hollow;
  }
}

/// Adds a dropdown arrow to a button.
/// @param {Number} $size [0.4em] - Size of the arrow. We recommend using an `em` value so the triangle scales when used inside different sizes of buttons.
/// @param {Color} $color [white] - Color of the arrow.
/// @param {Number} $offset [$button-padding] - Distance between the arrow and the text of the button. Defaults to whatever the right padding of a button is.
@mixin adk-button-dropdown(
  $size: 0.4em,
  $color: $white,
  $offset: get-side($adk-button-padding, right)
) {
  &::after {
    @include css-triangle($size, $color, down);
    position: relative;
    top: 0.4em; // Aligns the arrow with the text of the button

    display: inline-block;
    float: #{$global-right};
    margin-#{$global-left}: get-side($adk-button-padding, right);
  }
}

/// Adds all styles for a button. For more granular control over styles, use the individual button mixins.
/// @param {Boolean} $expand [false] - Set to `true` to make the button full-width.
/// @param {Color} $background [$button-background] - Background color of the button.
/// @param {Color} $background-hover [$button-background-hover] - Background color of the button on hover. Set to `auto` to have the mixin automatically generate a hover color.
/// @param {Color} $color [$button-color] - Text color of the button. Set to `auto` to automatically generate a color based on the background color.
/// @param {Keyword} $style [solid] - Set to `hollow` to create a hollow button. The color defined in `$background` will be used as the primary color of the button.
@mixin adk-button(
  $expand: false,
  $background: $adk-button-background,
  $background-hover: $adk-button-background-hover,
  $color: $adk-button-color,
  $style: $adk-button-fill
) {
  @include adk-button-base;

  @if $style == solid {
    @include adk-button-style($background, $background-hover, $color);
  }
  @else if $style == hollow {
    @include adk-button-hollow;
    @include adk-button-hollow-style($background);
  }

  @if $expand {
    @include adk-button-expand;
  }
}

/// This mixin creates the buttons in the button-paddings/button-font-sizes maps, except for default, which is created in adk-button-base
@mixin adk-foundation-button {
  .button {
    @include adk-button;

    // Padding
    @each $size, $value in map-remove($adk-button-paddings, default) {
      &.#{$size} {
        padding: $value;
      }
    }
    // Font Sizes
    @each $size, $value in map-remove($adk-button-font-sizes, default) {
      &.#{$size} {
        font-size: $value;
      }
    }

    &.expanded { @include adk-button-expand; }

    // Colors
    @each $name, $color in $adk-button-palette {
      @if $adk-button-fill != hollow {
        &.#{$name} {
          @include adk-button-style($color, auto, auto);
        }
        &.#{$name}-light {
          @include adk-button-style(rgba($color, 0.25), $color, $color);
          &:hover, &:focus {
            color: $white;
          }
        }
      }
      @else {
        &.#{$name} {
          @include adk-button-hollow-style($color);
        }

        &.#{$name}.dropdown::after {
          border-top-color: $color;
        }
      }
    }

    //Pill
    &.pill {
      margin-bottom: $space-xs;
    }

    // Hollow style
    @if $adk-button-fill != hollow {
      &.hollow {
        @include adk-button-hollow;
        @include adk-button-hollow-style;

        @each $name, $color in $adk-button-palette {
          &.#{$name} {
            @include adk-button-hollow-style($color);
          }
        }
      }
    }

    // Icon style
    @if $adk-button-fill != icon {
      &.icon {
        @include adk-button-icon;
        @include adk-button-icon-style;

        @each $name, $color in $adk-button-palette {
          &.#{$name} {
            @include adk-button-icon-style($color);
          }
        }
      }
    }

    // Disabled style
    &.disabled,
    &[disabled] {
      @include adk-button-disabled;

      @each $name, $color in $adk-button-palette {
        &.#{$name} {
          @include adk-button-disabled($color);
        }
      }
    }

    // Dropdown arrow
    &.dropdown {
      @include adk-button-dropdown;

      @if $adk-button-fill == hollow {
        &::after {
          border-top-color: $adk-button-background;
        }
      }
    }

    // Button with dropdown arrow only
    &.arrow-only::after {
      top: -0.1em;
      float: none;
      margin-#{$global-left}: 0;
    }
  }
}
