h1,
h2,
h3,
h4,
h5,
h6 {
  &.bold {
    font-weight: $global-weight-bold;
  }
  &.light {
    font-weight: $global-weight-light;
  }
}

p > a {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid rgba($adk-blue, 0.6);
  &:hover {
    border-bottom: 1px solid $adk-blue;
  }
}

// Override past Architizer <a> styles
a {
  &:after {
    content: none;
  }
}

// Styling for Metadata
.meta {
  span + span {
    display: inline-block;
    margin-left: 8px;
    border-left: 1px solid rgba(0,0,0,0.15);
    padding-left: 8px;
  }
}
