// Card Types
.card {
  padding: $card-padding;

  &.message {
    min-width: 360px;
  }

  .caption {
    font-size: $font-size-s;
    font-weight: $global-weight-bold;
    line-height: 1;
    color: $adk-quicksilver;
  }

  .card-button {
    @include card-divider;
    border-top: $global-separator;
    margin: 0 -$space;
    margin-top: 0;
    text-align: center;
  }

  img {
    border-radius: $global-radius;
  }

  // Overwrite margin on .rows in cards
  .row {
    margin: $card-content-margin;
  }

  // Overwrite padding on all card contents
  * {
    padding: 0;
  }
}

/**
 * Images at the top of cards
 *
 * Use with `style="background-image:url('/put/the/path/here')"`
 *
 * Add the .card-image-no-margin class to make the image extend outside the margins
 */
.card-image {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &.card-image-no-margin {
    margin-left: -$space;
    margin-right: -$space;
    margin-top: -$space-s;
  }

  // Small breakpoint height
  height: 5rem;

  // Medium breakpoint height
  @include breakpoint(medium) {
    height: 10rem;
  }

  // Large breakpoint height
  @include breakpoint(large) {
    height: 15rem;
  }

}