/**
 * Architizer Design Kit Kitchen Sink Helpers
 *
 * Helper classes for the kitchen sink page.
 */

// Grid
.row.display {
  background: #eee;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .columns {
    &:nth-child(2),
    &.small-centered,
    &.large-centered {
      background: darken(#eee, 5%);
    }

    &.color-end {
      background: darken(#eee, 10%)
    }
  }
}

.row.display-end {
  background: #fff;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .columns {
    background: darken(#eee, 5%);
    border-left: 1px solid #c6c6c6;

    &.color-end {
      background: darken(#eee, 10%)
    }
  }
}