// Badge types
.beta {
  line-height: .25;
  height: 18px;
  border-radius: 15px;
  vertical-align: middle;
  padding: $space-xs;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
  color: #FFF;
}

.verified {
  line-height: 1;
  display: inline-block;
  color: #1CA3FC;
  font-size: 1.5625rem;
  font-family: "Architizer Glyphs";
}

.pro {
  color: #1CA3FC;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
}