// Modals
@mixin border($side) {
    // add border to either top or bottom by pulling div to edge of modal
    margin-left: -$reveal-padding;
    margin-right: -$reveal-padding;
    margin-#{$side}: $modal-section-spacing;
    padding: 0 $reveal-padding;
    padding-#{$side}: $space-m;
    border-#{$side}: $global-separator;
}

.reveal {
  .header {
    @include border(bottom)
  }
  .footer {
    @include border(top)
    * {
      margin-bottom: 0;
    }
  }
  .modal-section {
    margin-bottom: $modal-section-spacing;
    .button {
      margin-bottom: 0;
      margin-left: $space-xxs;
      float: right;
    }
  }
}

// Close button styles
.close-button {
  cursor: pointer;
}
