$table-cell: $font-size;
$table-cell-small: $font-size-s;

table {
  margin-top: $space-xxs;
  border-collapse: collapse;
  font-size: 16px;
  tbody,
  thead {
    border: none; // Clear default table-border while preserving the $table-border variable
  }
  thead {
    border-bottom: $table-border;
    background-color: $white;
  }
  tbody tr {
    border: none; // Remove default border-bottom on tbody tr
    border-bottom: $table-border;
    border-color: rgba($adk-gunmetal, 0.1);
    background-color: $white;
  }
  thead tr *,
  tfoot tr * {
    color: $black;
    font-size: $font-size-s;
    // background-color: $white;
  }
  thead th {
    padding: $space-m $space-s $space $space-s;
    white-space: nowrap; // Don't allow table headings to wrap
  }
  tr {
    white-space: nowrap; // Don't allow table data to wrap

    transition: all $row-hover-time;
    .right {
      text-align: right;
    }
    .center {
      text-align: center;
    }
    .small {
      font-size: $font-size-s;
    }
    .action {
      font-size: $table-cell-small !important;
      color: $adk-blue !important;
      text-align: center !important;
    }
  }
  // Style table cells with notification dots
  td.has-notification-dot:before {
    @include notification-dot;
    position: relative;
  }
  tbody > .inactive {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}

// Make tables scroll on mobile small screens
@include breakpoint(small) {
  table {
    overflow-x: auto;
    display: block;
  }
}
@include breakpoint(medium) {
  table {
    overflow-x: auto;
    display: block;
  }
}
