@font-face {
  font-family: "Theinhardt-web";
  src: url("/fonts/theinhardt/theinhardtlight_alt-webfont.eot");
  src: url("/fonts/theinhardt/theinhardtlight_alt-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/theinhardt/theinhardtlight_alt-webfont.woff") format("woff"), url("/fonts/theinhardt/theinhardtlight_alt-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Theinhardt-web";
  src: url("/fonts/theinhardt/theinhardtlightit-webfont.eot");
  src: url("/fonts/theinhardt/theinhardtlightit-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/theinhardt/theinhardtlightit-webfont.woff") format("woff"), url("/fonts/theinhardt/theinhardtlightit-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Theinhardt-web";
  src: url("/fonts/theinhardt/theinhardtreg-webfont.eot");
  src: url("/fonts/theinhardt/theinhardtreg-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/theinhardt/theinhardtreg-webfont.woff") format("woff"), url("/fonts/theinhardt/theinhardtreg-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Theinhardt-web";
  src: url("/fonts/theinhardt/theinhardtregit-webfont.eot");
  src: url("/fonts/theinhardt/theinhardtregit-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/theinhardt/theinhardtregit-webfont.woff") format("woff"), url("/fonts/theinhardt/theinhardtregit-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Theinhardt-web";
  src: url("/fonts/theinhardt/theinhardtmed-webfont.eot");
  src: url("/fonts/theinhardt/theinhardtmed-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/theinhardt/theinhardtmed-webfont.woff") format("woff"), url("/fonts/theinhardt/theinhardtmed-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Architizer Glyphs";
  src: url("/fonts/architizerglyphs/architizerglyphs-regular-webfont.eot");
  src: url("/fonts/architizerglyphs/architizerglyphs-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/architizerglyphs/architizerglyphs-regular-webfont.woff") format("woff"),
       url("/fonts/architizerglyphs/architizerglyphs-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  src: url("/fonts/materialicons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("/fonts/materialicons/MaterialIcons-Regular.woff2") format('woff2'),
       url("/fonts/materialicons/MaterialIcons-Regular.woff") format('woff'),
       url("/fonts/materialicons/MaterialIcons-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

.architizer-glyph, .architizer-glyphs {
  font-family: "Architizer Glyphs";
  vertical-align: sub;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}