// These classes replace the Sizes section of the adk-button mixin below
.button {
  &.large {
    padding: $space $space-m;
  }
  &.small {
    padding: $space-s $space-xs;
    font-size: $font-size-s;
  }
  &.tiny {
    padding: $space-xs;
    font-size: $font-size-s;
  }
  &.pill {
    padding: $space-xxs;
    font-size: $font-size;
  }
}

@mixin adk-button {
  .button {
    @include button;

    // Sizes
    // @each $size, $value in map-remove($button-sizes, default) {
    //   // &.#{$size} {
    //   //   padding: $value;
    //   // }
    // }

    &.expanded { @include button-expand; }

    // Colors
    @each $name, $color in $button-palette {
      @if $button-fill != hollow {
        &.#{$name} {
          @include button-style($color, auto, auto);
        }
        &.#{$name}-light {
          @include button-style(rgba($color, 0.25), $color, $color);
          &:hover, &:focus {
            color: $white;
          }
        }
      }
      @else {
        &.#{$name} {
          @include button-hollow-style($color);
        }

        &.#{$name}.dropdown::after {
          border-top-color: $color;
        }
      }
    }

    // Hollow style
    @if $button-fill != hollow {
      &.hollow {
        @include button-hollow;
        @include button-hollow-style;

        @each $name, $color in $button-palette {
          &.#{$name} {
            @include button-hollow-style($color);
          }
        }
      }
    }

    // Disabled style
    &.disabled,
    &[disabled] {
      @include button-disabled;

      @each $name, $color in $button-palette {
        &.#{$name} {
          @include button-disabled($color);
        }
      }
    }

    // Dropdown arrow
    &.dropdown {
      @include button-dropdown;

      @if $button-fill == hollow {
        &::after {
          border-top-color: $button-background;
        }
      }
    }

    // Button with dropdown arrow only
    &.arrow-only::after {
      top: -0.1em;
      float: none;
      margin-#{$global-left}: 0;
    }
  }
}
