// Generate palette color classes:
@each $name, $color in $adk-palette-colors {
  $palette: generate-palette($color);

  @each $shade, $value in $palette {
    .#{$name}-#{$shade} {
      color: $value;
    }
    .bg-#{$name}-#{$shade} {
      background-color: $value;
    }
  }
}

// Generate neutral color classes:
@each $name, $color in $adk-neutral-colors {
  .#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
}
