a {
  &.menu {
    color: $dark-gray;
    border-bottom: $thick-underline;
    &:hover {
      color: $black;
      border-bottom: $thick-underline-hover;
    }
    &.button {
      border-bottom: none;
    }
  }
}

ul {
  &.menu {
    a {
    color: $adk-quicksilver;
    border-bottom: none;
    &:hover {
      color: $menu-item-color-hover;
      }
    }
  }
  &.tabs {
    border-bottom: none;
    overflow-x: scroll;
    white-space: nowrap;
    & li.tabs-title {
      float: none;
      display: inline-block;
    }
  }
  a {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

.is-dropdown-submenu {
  border-radius: $global-radius;
  .is-dropdown-submenu-item:hover {
    background-color: $global-hover;
  }
}

// Top Bar to be used as action/nav bars
.top-bar {
  border-bottom: $global-separator;
}
