// Generate palette color classes
@each $name, $color in $adk-palette-colors {
  // Generate base (500) classes
  .#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }

  // Generate shade classes 
  $palette: generate-palette($color);
  @each $shade, $value in $palette {
    .#{$name}-#{$shade} {
      color: $value !important;
    }
    .bg-#{$name}-#{$shade} {
      background-color: $value !important;
    }
    .border-#{$name}-#{$shade} {
      border-color: $value !important;
    }
  }
}

// Generate neutral color classes:
@each $name, $color in $adk-neutral-colors {
  .#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
}
