/**
 * Utility classes for sizing/spacing
 *
 * This generates margin and padding spacing classes using tshirt sizes.
 * For example, to add large padding top to an element, simply add the .pt-l class to it. Micro margin bottom would be .mb-micro, and so on. 
 */
@each $size, $space in $sizes {
  // All Sides
  .m-#{$size} {
    margin: $space !important;
  }
  .p-#{$size} {
    padding: $space !important;
  }

  // Top
  .mt-#{$size} {
    margin-top: $space !important;
  }
  .pt-#{$size} {
    padding-top: $space !important;
  }

  // Bottom
  .mb-#{$size} {
    margin-bottom: $space !important;
  }
  .pb-#{$size} {
    padding-bottom: $space !important;
  }

  // Left
  .ml-#{$size} {
    margin-left: $space !important;
  }
  .pl-#{$size} {
    padding-left: $space !important;
  }

  // Right
  .mr-#{$size} {
    margin-right: $space !important;
  }
  .pr-#{$size} {
    padding-right: $space !important;
  }
}