// Modals

// Full-width borders for header and footer
@mixin full-width-border($side) {

  // Add negative margins to the section 
  margin-left: -$reveal-padding;
  margin-right: -$reveal-padding;

  // Pad the top
  margin-top: $space-s;

  // Re-add padding inside the section equal to the negative margin
  padding-left: $reveal-padding;
  padding-right: $reveal-padding;

  // Add the border to top/bottom depending on $side
  border-#{$side}: $global-separator;
}

.ReactModalPortal .reveal,
.ReactModalPortal .revealProductMessage,
.ReactModalPortal .reveal-overlay {
  display: block;
}

.reveal, .revealProductMessage {

  .header, .footer {
    background-color: transparent;
  }

  .header {
    @include full-width-border(bottom)

    // Allows for the header to span the full width of parent
    width: auto;

    // Add bottom margin inside header content
    margin-bottom: $global-margin;

    // Add space between header and modal content below
    padding-bottom: $global-padding;

    padding-top: 0;
  }

  .footer {
    // Allows for the footer to span the full width of parent
    width: auto;

    // Add margin inside footer content
    margin-top: $global-margin;
    margin-bottom: $space-s;

    // Add space between footer and modal content above
    padding-top: $global-margin;

    padding-bottom: 0;
  }
}

.revealProductMessage {
  width: 80%;
  z-index: 1006;
  backface-visibility: hidden;
  padding: .32768rem;
  border: none;
  border-radius: .20972rem;
  background-color: #fff;
  position: relative;
  top: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
}

// Close button styles
.close-button {
  cursor: pointer;
}
