// Orbit / Gallery Overrides

.orbit.callout {
  padding: 0 0 $space-xs;
}

.reveal .orbit-container {
  height: auto !important;
  max-height: 500px;
}

.orbit-bullets {
  padding: 0 $space-xs;
  button {
    cursor: pointer;
  }
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}

.orbit-caption {
  &.center {
    text-align: center;
  }
}
