.footer {
  position: absolute;
  padding: $space-l;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $black;

  .row {
    max-width: 1440px;
  }

  * {
    a {
      color: $light-gray;
      &:hover{
        color: $white;
      }
    }
    h5 {
      color: $medium-gray;
    }
    span {
      color: $medium-gray;
    }
  }

  &.white {
    background-color: $white;
    * {
      a {
        color: $medium-gray;
        &:hover{
          color: $black;
        }
      }
      h5 {
        color: $light-gray;
      }
      span {
        color: $light-gray;
      }
    }
  }

}

.footer-list {
  margin-left: 0;
  list-style-type: none;
}
