.footer {
  position: absolute;
  padding: $space-l;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $black;
  &.white {
    background-color: $white;
  }

  * {
    a {
      color: $light-gray;
      &:hover{
        color: $white;
      }
    }
  }

  .row {
    max-width: 1440px;
  }

}

.footer-list {
  margin-left: 0;
  list-style-type: none;
}
