<!doctype html>
<html lang="en" class="adk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Design Kit</title>

    <!-- Default Selectize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">

    <!-- Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css">

    <!-- Highlight.js syntax highlighting -->
    <link rel="stylesheet" href="syntax-highlighting.css">
    
    <!-- Other documentation site CSS -->
    <link rel="stylesheet" href="docs.css">
  </head>
  <body>

    <div class="top-bar pl-0 pr-0">
      <div class="row">
        <div class="small-12 columns">
          <div class="top-bar-left ml-base">
            <h4 class="mb-0"><a href="/" class="black"><span class="architizer-glyph">B</span><span>Design</span></a></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="top-bar tabs-container expanded p-0">
      <div class="row">
        <div class="small-12 columns">
          <ul class="tabs" id="tabs-navigation" data-tabs>
            {{#each pages}}
              <li class="tabs-title {{#if @first}}is-active{{/if}}"><a href="#{{ anchor }}">{{ title }}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="small-12 xxlarge-9 columns">
        <div class="tabs-content vertical" data-tabs-content="tabs-navigation">
          {{#each pages}}
            <div class="tabs-panel {{#if @first}}is-active{{/if}} content" id="{{ anchor }}">
              {{ body }}
            </div>
          {{/each}}
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FeedEk/3.0.0/js/FeedEk.min.js"></script>

    <!-- Selectize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>

    <!-- Dropzone JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>

    <!-- Other documentation site JavaScript -->
    <script src="docs.js"></script>

  </body>
</html>
