<!doctype html>
<html lang="en" class="adk">
  <head>
    <link rel="shortcut icon"
        type="image/x-icon"
        href="//scdn.architizer.com/img/favicon.df2618023937.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Design Kit</title>

    <!-- Default Selectize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">

    <!-- Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css">

    <!-- Highlight.js syntax highlighting -->
    <link rel="stylesheet" href="syntax-highlighting.css">
    
    <!-- Other documentation site CSS -->
    <link rel="stylesheet" href="docs.css">

    <!-- Style guide-specific CSS goes here. -->
    <style>
    /* This styles the vertical tabs used for the table of contents. */
    .tabs-title {
      width: 100%;
      max-width: 100%;
    }
    /* This styles code blocks used for examples. */
    .ss-code code {
      background-color: white;
      border-radius: 3px;
      border: none;
    }
    </style>

  </head>
  <body class="bg-extra-light-gray">

    <div class="row align-center mt-l" style="width: 100%; max-width: 90rem;">
      <!-- navigation -->
      <div class="small-3 columns">
        <div data-sticky-container>
          <div data-sticky>
            <h3 class="mb-s mt-x"><a href="/" class="black"><span class="architizer-glyph">B</span><span>DesignKit</span></a></h3>
            <ul class="tabs vertical bg-extra-light-gray" id="tabs-navigation" data-tabs>
              {{#each pages}}
                <dd class="tabs-title {{#if @first}}is-active{{/if}}"><a href="#{{ anchor }}" style="padding-left: 0;">{{ title }}</a></dd>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <!-- content -->
      <div class="small-9 columns">
        <div class="tabs-content vertical" data-tabs-content="tabs-navigation">
          {{#each pages}}
            <div class="tabs-panel {{#if @first}}is-active{{/if}} content bg-extra-light-gray" id="{{ anchor }}" style="padding:0;">
              {{ body }}
            </div>
          {{/each}}
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FeedEk/3.0.0/js/FeedEk.min.js"></script>

    <!-- Selectize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>

    <!-- Dropzone JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>

    <!-- Other documentation site JavaScript -->
    <script src="docs.js"></script>

  </body>
</html>
