<!doctype html>
<html lang="en" class="adk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Style Guide</title>

    <!-- Default Selectize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">

    <!-- Design Kit CSS -->
    <link rel="stylesheet" href="../css/adk.css">

    <!-- Style guide-specific CSS goes here. -->
    <style>
    /* This styles the vertical tabs used for the table of contents. */
    .tabs.vertical {
      width: 100%;
      max-width: 100%;
    }
    /* This styles code blocks used for examples. */
    .ss-code code {
      display: block;
      padding: 1rem;
      overflow-x: scroll;
      margin-bottom: 1.5rem;
    }
    /* This styles the example rows used in the grid documentation. */
    .row.display {
      background: #eee;
      font-size: 11px;
      margin-bottom: 10px;
      line-height: 2rem;
      border: solid 1px #c6c6c6;
      margin-left: 0 !important;
      margin-right: 0 !important; }
      .row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
        background: #e1e1e1; }
      .row.display .columns.color-end {
        background: #d4d4d4; }
    /* This styles the color blocks used in the color documentation. */
    .color-block {
      border-radius: 2px;
      display: block;
      padding: 8px 8px 6px;
      color: #333;
      text-transform: uppercase;
      border: 1px solid #ddd;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
      .color-block span {
        display: block;
        width: 100%;
        height: 100px;
        margin-bottom: 0.42857rem;
      }
    </style>
  </head>
  <body>

    <div class="row">
      <div class="small-12 columns">
        <h1>Architizer Design Kit</h1>
        <p>This is Architizer's living style guide, based on a Foundation 6. This encompasses the elements specific to Architizer's UI. To see the full extent of this responsive front-end framework or for more detailed instructions, reference <a href="http://foundation.zurb.com/docs/">documentation</a>, or get help from the <a href="http://foundation.zurb.com/forum/">Foundation community.</a></p>
      </div>
    </div>

    <div class="row">

      <div class="large-3 medium-4 columns">
        <ul class="tabs vertical" id="tabs-navigation" data-tabs>
          {{#each pages}}
            <li class="tabs-title {{#if @first}}is-active{{/if}}"><a href="#{{ anchor }}">{{ title }}</a></li>
          {{/each}}
        </ul>
      </div>

      <div class="large-9 medium-8 columns">
        <div class="tabs-content vertical" data-tabs-content="tabs-navigation">
          {{#each pages}}
            <div class="tabs-panel {{#if @first}}is-active{{/if}} content" id="{{ anchor }}">
              {{ body }}
            </div>
          {{/each}}
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

    <!-- Selectize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>

    <script>
      var selectizeOptions = {
        options: [
          { label: 'Acrylic', value: 'acrylic' },
          { label: 'Aluminum', value: 'aluminum' },
          { label: 'Brass', value: 'brass' },
          { label: 'Cement', value: 'cement' },
          { label: 'Ceramic', value: 'ceramic' },
          { label: 'Chrome', value: 'chrome' },
          { label: 'Clay', value: 'clay' },
          { label: 'Concrete', value: 'concrete' },
          { label: 'Copper', value: 'copper' },
          { label: 'Epoxy', value: 'epoxy' },
          { label: 'Fabric', value: 'fabric' },
          { label: 'Felt', value: 'felt' },
          { label: 'Fiberglass', value: 'fiberglass' },
          { label: 'Foam', value: 'foam' },
          { label: 'Glass', value: 'glass' },
          { label: 'Gypsum', value: 'gypsum' },
          { label: 'Granite', value: 'granite' },
          { label: 'Iron', value: 'iron' },
          { label: 'Laminate', value: 'laminate' },
          { label: 'Limestone', value: 'limestone' },
          { label: 'Marble', value: 'marble' },
          { label: 'Metal', value: 'metal' },
          { label: 'Nylon', value: 'nylon' },
          { label: 'Plaster', value: 'plaster' },
          { label: 'Plastic', value: 'plastic' },
          { label: 'Polyester', value: 'polyester' },
          { label: 'Porcelain', value: 'porcelain' },
          { label: 'Quartz', value: 'quartz' },
          { label: 'Resin', value: 'resin' },
          { label: 'Rubber', value: 'rubber' },
          { label: 'Slate', value: 'slate' },
          { label: 'Solid Surface', value: 'solid-surface' },
          { label: 'Stainless Steel', value: 'stainless-steel' },
          { label: 'Steel', value: 'steel' },
          { label: 'Stone', value: 'stone' },
          { label: 'Travertine', value: 'travertine' },
          { label: 'Urethane', value: 'urethane' },
          { label: 'Velvet', value: 'velvet' },
          { label: 'Veneer', value: 'veneer' },
          { label: 'Wood', value: 'wood' },
          { label: 'Wood - Natural', value: 'wood-natural' },
          { label: 'Wood - Engineered', value: 'wood-engineered' },
          { label: 'Terrazzo', value: 'terrazzo' },
        ],
        items: ['acrylic', 'brass', 'ceramic'],
        create: true,
        highlight: true,
        labelField: 'label',
        valueField: 'value',
        searchField: ['label', 'value'],
      };

      $(document).foundation();
      $('.selectize').selectize(selectizeOptions);

    </script>
  </body>
</html>
