<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Design Kit Starter Template</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />

  </head>
  <body>
  <div class="row align-center" style="height: 100vh">
    <div class="column small-3 align-self-middle">
    <!-- Card -->
      <div class="card clickable">
      <!-- Image -->
        <div class="card-section">
          <figure class="card-image card-image-no-margin search-hover" style="background-image: url('https://architizer-prod.imgix.net/media/1494864703416-GenBrands_Element_Env01_ArtGallery.jpg?auto=format,compress&amp;cs=strip&amp;fit=crop&amp;q=60&amp;w=520')">
            <div class="overlay"></div>
            <figcaption>
              <div class="search-info">
                <h4>An Education Center in Philadelphia</h4>
                <div class="row" style="height: 100%">
                  <div class="small-4 columns align-self-middle">
                    <p>An Education Center in Philadelphia</p>
                  </div>
                </div>
              </div>
            </figcaption>
          </figure>
          </div>
        <!-- Text -->
        <div class="card-section">
          <div class="row align-middle mt-s">
            <div class="columns">
              <h3 class="ellipsis">Hogwarts IV</h3>
              <span class="fs-s">Construction Documents</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content ends here -->
  <!-- JavaScript dependencies -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>





      <div class="content">
        <h2>Lily</h2>
        <div class="grid">
          <figure class="effect-lily">
            <img src="img/12.jpg" alt="img12"/>
            <figcaption>
              <div>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-lily">
            <img src="img/1.jpg" alt="img1"/>
            <figcaption>
              <div>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
        </div>