<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />
  </head>

  <body class="bg-extra-light-gray">
    <!-- Page content starts here -->

    <!-- Footer -->
    <div class="footer">
      <div class="row small-up-1 medium-up-3 collapse">

        <div class="column">
          <div class="row small--up-3 collapse">
            <div class="column">
              <h5 class="mb-xxs" style="font-variant: small-caps;"><strong>about</strong></h5>
              <ul>
                <li class="fs-s"><a href="http://go.architizer.com/about" title="About us">About us</a></li>
                <li class="fs-s"><a href="http://awards.architizer.com/?utm_source=architizer" target="_blank" title="A+Awards">A+Awards</a></li>
                <li class="fs-s"><a href="https://architizer.com/team/" title="Team">Team</a></li>
                <li class="fs-s"><a href="https://architizer.com/careers/" title="Careers">Careers</a></li>
                <li class="fs-s"><a href="https://support.architizer.com/" target="_blank" title="Help Center">Help Center</a></li>
              </ul>
            </div>
            <div class="column hide-for-small-only">
              <h5 class="mb-xxs" style="font-variant: small-caps;"><strong>connect</strong></h5>
              <ul>
                <li class="fs-s"><a href="http://www.facebook.com/Architizer?utm_source=architizer" target="_blank" title="Facebook"><span class="architizer-glyph">f</span> Facebook</a></li>
                <li class="fs-s"><a href="http://twitter.com/Architizer?utm_source=architizer" target="_blank" title="Twitter"><span class="architizer-glyph">g</span> Twitter</a></li>
                <li class="fs-s"><a href="http://pinterest.com/architizer/?utm_source=architizer" target="_blank" title="Pinterest"><span class="architizer-glyph">k</span> Pinterest</a></li>
                <li class="fs-s"><a href="http://instagram.com/architizer/?utm_source=architizer" target="_blank" title="Instagram"><span class="architizer-glyph">j</span> Instagram</a></li>
              </ul>
            </div>
            <div class="column">
              <h5 class="mb-xxs" style="font-variant: small-caps;"><strong>join today</strong></h5>
              <ul>
                <li class="fs-s"><a href="http://go.architizer.com/architect_join" title="Join as an Architect">Join as an Architect</a></li>
                <li class="fs-s"><a href="http://go.architizer.com/manufacturer_join" title="Join as an Brand">Join as a Brand</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Empty -->  
        <div class="column">
        </div>

        <!-- Mobile Social Links -->  
        <div class="column show-for-small-only mb-s">
          <div class="row small-up-2 collapse">
            <div class="column">
              <div class="row align-justify collapse">
                <div class="column"><a href="http://www.facebook.com/Architizer?utm_source=architizer" class="architizer-glyph fs-l" title="Facebook" target="_blank">f</a></div>
                <div class="column"><a href="http://twitter.com/Architizer?utm_source=architizer" class="architizer-glyph fs-l" title="Twitter" target="_blank">g</a></div>
                <div class="column"><a href="http://pinterest.com/architizer/?utm_source=architizer" class="architizer-glyph fs-l" title="Pinterest" target="_blank">k</a></div>
                <div class="column"><a href="http://instagram.com/architizer/?utm_source=architizer" class="architizer-glyph fs-l" title="Instagram" target="_blank">j</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="column mb-s">
          <div class="architizer-glyph fs-m"><a href="https://architizer.com/">B</a></div>
          <span class="fs-s">Architizer is how architects find building products.</span>
          <!-- Made in NY -->
          <div class="architizer-glyph hide-for-small-only" style="font-size:3rem;line-height:1"><a href="http://www.digital.nyc/startup-collection/we-are-made-ny?utm_source=architizer">/</a></div>
        </div>
        
        <span class="fs-s">Copyright © 2017 Architizer, Inc. All rights reserved. <a>Privacy. </a> <a>Terms of Use.</a></span>
        
      </div>
    </div>

    <!-- Page content ends here -->
    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>

</html>
