<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />
  </head>

  <body>
    <!-- Page content ends here -->
    <!-- Respopnsive Top/Title Bar -->
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button type="button" data-toggle><i class="material-icons white">menu</i></button>
      <div class="title-bar-title"><span class="architizer-glyph white">C</span></div>
    </div>
    <!-- Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="columns">
          <div id="responsive-menu">
            <div class="top-bar-left">
              <ul class="vertical medium-horizontal menu" data-dropdown-menu>
                <li class=""><a><object class="nav-logo" type="image/svg+xml" data="/docs/logo/source-logo.svg">Architizer Source</object></a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Projects</a></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" data-dropdown-menu>
                <li>
                  <a href="#" class="black">Rem Koolhaas</a>
                  <ul class="menu vertical">
                    <li><a href="#">Your Profile &amp; Collections</a></li>
                    <li><a href="#"><i class="material-icons">work</i> OMA</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li><a href="#">Sign Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer bg-black p-l">
      <div class="row small-up-1 medium-up-3">

        <div class="column">
          <div class="row small--up-3">
            <div class="column">
              <h5 class="white mb-xxs" style="font-variant: small-caps;">about</h5>
              <ul class="footer-list">
                <li class="fs-s"><a href="" class="" title="What is Architizer?">What is Architizer?</a></li>
                <li class="fs-s"><a href="" class="" title="A+Awards<">A+Awards</a></li>
                <li class="fs-s"><a href="" class="" title="Team">Team</a></li>
                <li class="fs-s"><a href="" class="" title="Careers">Careers</a></li>
                <li class="fs-s"><a href="" class="" title="Help Center">Help Center</a></li>
              </ul>
            </div>
            <div class="column">
              <h5 class="white mb-xxs" style="font-variant: small-caps;">about</h5>
              <ul class="footer-list">
                <li class="fs-s"><a href="" class="" title="What is Architizer?">What is Architizer?</a></li>
              </ul>
            </div>
            <div class="column">
              <h5 class="white mb-xxs" style="font-variant: small-caps;">about</h5>
              <ul class="footer-list">
                <li class="fs-s"><a href="" class="" title="">What is Architizer?</a></li>

              </ul>
            </div>
          </div>
        </div>

        <!-- Empty -->  
        <div class="column">
        </div>

        <div class="column">
          
        </div>
        
      </div>
    </div>

    <!-- Page content ends here -->
    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>

</html>
