<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Kit Modal</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />
  </head>
  <body>

    <!-- Page content begins here -->
    <div class="row align-center align-middle" style="height: 100vh;">
      <div class="small-3 columns">
        <form>
          <div class="row">
            <div class="columns">
              <div class="minimal-field floating-label">
                <input type="text" class="">
                <label>What are you looking for?
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns">
              <div class="minimal-field floating-label">
                  <input type="text" class="">
                <label>Category
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns">
              <div class="minimal-field floating-label">
                  <input type="text" class="">
                <label>How many?
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Page content ends here -->


    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>

    <script>
      //jquery
      $(document).ready(function() {
        $("input").focus(function(){
          $(this).parent().addClass("is-focused");
          $(this).focusout(function(){
            $(this).parent().removeClass("is-focused");
            if ($(this).val().length > 0){
              $(this).parent().addClass("is-dirty");
            }
            if ($(this).val().length == 0){
              $(this).parent().removeClass("is-dirty");
            }
          });
        });
      });
    </script>

  </body>
</html>
