<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Design Kit Starter Template</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />

    <!-- Homepage styles -->
    <style type="text/css">
      .row {
        max-width: 1600px;
      }
      .project-hero {
        height: 90vh;
        background-image: url("/docs/img/placeholder-4:3.png");
      }
      .product-cards > .column > .card {
        /*margin: 0 10px;*/
        /*width: 240px;*/
        border:none;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      }
      .product-cards > .column > .card > .card-section.card-image {
        /*height: 180px;*/
      }
    </style>

  </head>
  <body>
    <!-- Page content starts here -->

    <!-- Project Hero -->
    <div class="project-hero" >
      <div class="row columns p-xxl">
        <div class="row align-center">
          <h1>Find architectural prodcuts. Faster.</h1>
        </div>
        <div class="row align-center">
          <p>Architizer connects actively specifying architects with the building products they need.</p>
        </div>
        <div class="row align-center gray" style="font-variant: small-caps;">
          <h5>trusted by over 300 firms</h5>
        </div>
        <div class="row align-center mt-l">
          <button class="button p-base">Join Now</button>
        </div>
      </div>
      
    </div>
    <!-- Product Cards -->
    <div class="row small-up-1 medium-up-5 align-center">
        <!-- Card -->
        <div class="column">
          <div class="card ">
            <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
            <div class="card-section">
              <h4><strong>Norwegian Pine</strong></h4>
              <p>Nordic Lumbar</p>
            </div>
          </div>
          
        </div>
        <!-- Card -->
        <div class="column">
          <div class="card ">
            <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
            <div class="card-section">
              <h4><strong>Matte Pendant Light</strong></h4>
              <p>Knoll Lighting</p>
            </div>
          </div>
          
        </div>
        <!-- Card -->
        <div class="column">
          <div class="card ">
            <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
            <div class="card-section">
              <h4><strong>Barcelona Chair</strong></h4>
              <p>Mies Van der Rohe</p>
            </div>
          </div>
          
        </div>
        <!-- Card -->
        <div class="column">
          <div class="card ">
            <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
            <div class="card-section">
              <h4><strong>RT-90 Curtain Walls</strong></h4>
              <p>DORMA Glass</p>
            </div>
          </div>
          
        </div>
        <!-- Card -->
        <div class="column">
          <div class="card ">
            <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
            <div class="card-section">
              <h4><strong>Granite Boulders</strong></h4>
              <p>PMI Stone</p>
            </div>
          </div>
          
        </div>
    </div>



    <!-- Bullets -->
    <div>
      
    </div>



    <!-- Recent Searches -->
    <div>
      
    </div>



    <!-- Materials & Practice -->
    <div>
      
    </div>



    <!-- Recent Projects -->
    <div>
      
    </div>



    <!-- Ticker -->
    <div>
      
    </div>


    <!-- Page content ends here -->

    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
