<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Design Kit Starter Template</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />

    <!-- Homepage styles -->
    <style type="text/css">
      .row {
        max-width: 1600px;
      }
      .project-hero {
        height: 75vh;
        background-image: url("https://architizer-prod.imgix.net/media/1446057025402ManshausenW.jpg?q=60&auto=format,compress&cs=strip&w=1680");
        background-size: cover;
        background-position: 0% -15%; 
        background-repeat: no-repeat;
      }
      .product-cards > .column > .card {
        /*width: 240px;*/
        border:none;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
      }
      .product-cards > .column > .card > .card-section.card-image {
        /*height: 180px;*/
      }
      .logo {

      }
    </style>

  </head>
  <body>
    <!-- Page content starts here -->

    <!-- Project Hero -->
    <div class="project-hero p-xxl" >

      <div class="row columns p-xxl">
        <div class="row align-center">
          <h1><strong>Find Architectural Products. Faster.</strong></h1>
        </div>
        <div class="row align-center mb-base">
          <p>Architizer connects actively specifying architects with the building products they need.</p>
        </div>
        <div class="row align-center gray" style="font-variant: small-caps;">
          <h5>trusted by over 300 firms</h5>
        </div>
        <!-- Firm Logos -->
        <div class="row align-center mb-base" style="opacity:0.5">
          <div class="flex-container align-justify">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
        </div>
        <div class="row align-center">
          <button class="button p-base">Join Now</button>
        </div>
      </div>

    </div>

    <!-- Product Cards -->
    <div class="product-cards row small-up-1 medium-up-3 large-up-5 align-center" style="margin-top:-200px; max-width: 1600px;">
      <!-- Card -->
      <div class="column">
        <div class="card ">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis"><strong>Norwegian Pine</strong></h4>
            <p>Nordic Lumbar</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column">
        <div class="card ">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis"><strong>Matte Pendant Light</strong></h4>
            <p>Knoll Lighting</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column">
        <div class="card ">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis"><strong>Barcelona Chair</strong></h4>
            <p>Mies Van der Rohe</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column">
        <div class="card ">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis"><strong>RT-90 Curtain Walls</strong></h4>
            <p>DORMA Glass</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column">
        <div class="card ">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis"<strong>Granite Boulders</strong></h4>
            <p>PMI Stone</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Value Prop -->
    <div class="row small-up-1 medium-up-2 align-middle mt-xxl pt-l" style="max-width: 1600px;">
      <div class="column">
        <h2 class="mb-xl"><strong>A new approach to finding products.</strong></h2>
        <div class="row small-up-1 medium-up-2 mb-base">
          <div class="column">
            <img class="mb-xxs" src="/docs/img/homepage/alarm.png" style="height: 24px;">
            <h4><strong>Save Time</strong></h4>
            <p class="gray">Submit a search and let manufacturers find you, in real-time.</p>
          </div>
          <div class="column">
            <img class="mb-xxs" src="/docs/img/homepage/lightbulb.png" style="height: 24px;">
            <h4><strong>Informed Decisions</strong></h4>
            <p class="gray">Discover new brands, compare solutions and make more informed decisions.</p>
          </div>
        </div>
        <div class="row small-up-1 medium-up-2 mb-base">
          <div class="column">
            <img class="mb-xxs" src="/docs/img/homepage/cloud.png" style="height: 24px;">
            <h4><strong>System of Record</strong></h4>
            <p class="gray">Share information and create an online resource for your firm.</p>
          </div>
          <div class="column">
            <img class="mb-xxs" src="/docs/img/homepage/free.png" style="height: 24px;">
            <h4><strong>Free, For Architects</strong></h4>
            <p class="gray">Source is 100% free for architects. 
            Get access today.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <img src="/docs/img/homepage/window-graphic.png">
      </div>
    </div>


    <!-- Recent Searches -->
    <div class="row align-center mt-xxl" style="max-width: 1600px;">
      <div class="column shrink">
        <h2 class="mb-xl"><strong>Product Solutions. Simplified.</strong></h2>
        <div class="row small-up=1 medium-up-4">
          <div class="column">
            <!-- Card 4 - Multi Image Card -->
            <div class="card multi-image clickable masonry">
            <!-- Image -->
              <div class="card-section">
                <div class="card-image card-image-no-margin image-overlay-info">
                  <div class="image-items-container">
                    <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                    </div>
                    <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                    </div>
                    <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                    </div>
                    <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                    </div>
                    <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                    </div>
                  </div>
                  <div class="overlay"></div>
                  <div class="info" style="text-align: center;">
                    <div class="row align-middle collapse" style="height: 100%;">
                      <div class="column">
                        <div class="row mb-xs">
                          <div class="column">
                            <h5>Added by</h5>
                          </div>
                        </div>
                        <!-- Avatar -->
                        <div class="row mb-xs">
                          <div class="column">
                            <img class="avatar large" src="https://architizer-prod.imgix.net/media/1496789677388Thomas.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520">
                          </div>
                        </div>
                        <!-- User Name -->
                        <div class="row">
                          <div class="columns align-center">
                            <h4><strong>Thomas Tachibana</strong></h4>
                          </div>
                        </div>
                        <!-- User Role -->
                        <div class="row">
                          <div class="columns align-center">
                            <h5>Project Team Member</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Info -->
              <div class="card-section">
                <div class="row align-middle">
                  <div class="small-10 columns pr-s">
                    <!-- Product Name -->
                    <div class="row">
                      <strong class="ellipsis" title="Custom Metal Chair">Custom Metal Chair</strong>
                    </div>
                    <!-- Brand Name -->
                    <div class="row align-middle">
                      <div class="columns shrink fs-s gray pr-0" style="max-width: 85%">
                        <p class="mb-0 ellipsis">8 Products</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Materials & Practice -->
    <div>
      
    </div>



    <!-- Recent Projects -->
    <div>
      
    </div>



    <!-- Ticker -->
    <div>
      
    </div>


    <!-- Page content ends here -->

    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
