<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Home</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />
    <!-- Neue Haas -->
    <link rel="stylesheet" type="text/css" href="/fonts/neue/Neue_Haas_-_Homepage.css">

    <!-- Homepage styles -->
    <style type="text/css">
      .adk body{ 
        font-family: NeueHaasUnicaPro-Regular; 
      }
      .adk h1 {
        font-family: NeueHaasUnicaPro-Bold; 
      }
      .adk h2 {
        font-family: NeueHaasUnicaPro-Bold; 
      }
      .adk h3 {
        font-family: NeueHaasUnicaPro-Medium; 
      }
      .adk h4 {
        font-family: NeueHaasUnicaPro-Medium; 
      }
      .adk h5 {
        font-family: NeueHaasUnicaPro-Medium; 
        letter-spacing: 1px;
        font-variant: small-caps;
      }
      .row {
        max-width: 1440px;
      }
      .project-hero {
        height: 80vh;
        background: linear-gradient(#f7f7f7, transparent), url("https://architizer-prod.imgix.net/media/1446057025402ManshausenW.jpg?q=60&auto=format,compress&cs=strip&w=1680");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .column > .card {
        /*width: 240px;*/
        border:none;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        top: 0;
        transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      .card.hover:hover{
        cursor: pointer;
        box-shadow: 0 0 16px rgba(133,157,175,0.7);
      }
      .card.hover:active{
        box-shadow: 0 0 2px 2px #9ECEE6;
      }
      .product-cards > .column > .card:hover {
        top:-2px;
      }
      .product-cards > .column > .card > .card-section.card-image {
        height: 200px;
      }
      .journal {
        cursor: pointer;
        transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      .journal:hover {
        box-shadow: 0 0 16px rgba(133,157,175,0.7);
      }
      .journal-img {
        height: 100px;
        margin-bottom: .6rem;
      }
      .journal-title {
        font-size: 14px;
        line-height: 1;
        transition: all 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      .journal-title:hover {
        box-shadow: 0 2px 0 0 #9dcee7;
      }
      .brand-avatar {
        width: 3rem;
        height:3rem;
        margin-right: 0.5rem;
      }
      .clear {
        padding: 1.5rem;
        background: transparent;
        border:none;
      }
      .adk ul.menu a {
        color: #292929;
        transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
        font-variant: small-caps;
        letter-spacing: 0.3px;
      }
      .adk ul.menu a:hover {
        color: #2AA5F9;
      }
    </style>

  </head>
  <body>
    <!-- Page content starts here -->

    <!-- Project Hero -->
    <div class="project-hero" >
      <!-- Respopnsive Top Bar -->
      <div class="row collapse align-center">
        <div class="xlarge-10 columns">
          <div class="title-bar" style="background-color: transparent;" data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button type="button" data-toggle><i class="material-icons">menu</i></button>
            <div class="title-bar-title"><span class="architizer-glyph black fs-m">C</span></div>
          </div>
          <!-- Top Bar -->
          <div class="flex-container clear align-middle align-justify pl-s pr-s mb-l" id="responsive-menu">
            <div class="top-bar-left">
              <ul class="vertical medium-horizontal menu" style="background: transparent;" data-dropdown-menu>
                <li class="title-bar-title hide-for-small-only"><a><span class="architizer-glyph black fs-m">B</span></a></li>
                <li class="hide-for-small-only"><a href="">brands</a></li>
                <li class="hide-for-small-only"><a href="">portfolios</a></li>
                <li class="hide-for-small-only"><a href="">journal</a></li>
                <!-- mobile menu items -->
                <li class="show-for-small-only"><a href="" style="padding: 0.5rem 0;">brands</a></li>
                <li class="show-for-small-only"><a href="" style="padding: 0.5rem 0;">portfolios</a></li>
                <li class="show-for-small-only"><a href="" style="padding: 0.5rem 0;">journal</a></li>
                <hr class="show-for-small-only" style="margin: 0.5rem 0 0.25rem;">
                <li class="show-for-small-only"><a href="" style="padding: 0.5rem 0;"><strong>join now</strong></a></span></li>
                <li class="show-for-small-only"><a href="" style="padding: 0.5rem 0;"><strong>sign in</strong></a></span></li>
              </ul>
            </div>
            <div class="top-bar-right">
              <span class="hide-for-small-only mr-base"><a href="">Sign In</a></span>
              <button class="hide-for-small-only button p-s">Join Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Copy -->
      <div class="row columns p-xxl">
        <div class="row align-center">
          <h1 class="text-center">Find Architectural Products. Faster.</h1>
        </div>
        <div class="row align-center mb-xs">
          <p class="text-center">Be inspired, find solutions, and realize your designs.</p>
        </div>
        <div class="row align-center gray" style="font-variant: small-caps;">
          <h5 class="text-center">trusted by</h5>
        </div>
        <!-- Firm Logos -->
        <div class="row align-center mb-xxs" style="opacity:0.5">
          <div class="small-4 medium-2 columns shrink">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
          <div class="small-4 medium-2 columns shrink">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
          <div class="small-4 medium-2 columns shrink">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
          <div class="small-4 medium-2 columns shrink">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
          <div class="small-4 medium-2 columns shrink">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
          <div class="small-4 medium-2 columns shrink">
            <img class="logo p-s" src="/docs/img/homepage/logo-shop.png" style="width: 68px; height:68px;">
          </div>
        </div>
        <div class="row align-center">
          <button class="button pt-s pb-s">Join Now</button>
        </div>
      </div>
    </div>

    <!-- Product Cards -->
    <div class="product-cards row small-up-1 medium-up-3 large-up-5 align-center hide-for-small-only" style="margin-top:-200px; max-width: 1440px;">
      <!-- Card -->
      <div class="column">
        <div class="card ">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis">Norwegian Pine</h4>
            <p>Nordic Lumbar</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column hide-for-small-only">
        <div class="card">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis">Matte Pendant Light</h4>
            <p>Knoll Lighting</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column hide-for-small-only">
        <div class="card">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis">Barcelona Chair</h4>
            <p>Mies Van der Rohe</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column hide-for-small-only">
        <div class="card">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis">RT-90 Curtain Walls</h4>
            <p>DORMA Glass</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="column hide-for-small-only">
        <div class="card">
          <div class="card-section card-image card-image-no-margin" style="background-image: url('/docs/img/placeholder-4:3.png')"></div>
          <div class="card-section">
            <h4 class="ellipsis">Granite Boulders</h4>
            <p>PMI Stone</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Value Prop -->
    <div id="value" class="pt-xxl mb-xxl">
      <div class="row small-up-1 medium-up-2 align-middle" style="max-width: 1440px;">
        <div class="column">
          <h2 class="mb-xl">A new approach to finding products.</h2>
          <div class="row small-up-1 medium-up-2 mb-base">
            <div class="column">
              <img class="mb-xxs" src="/docs/img/homepage/alarm.png" style="height: 20px;">
              <h4>Save Time</h4>
              <p class="gray">Submit a search and let manufacturers find you, in real-time.</p>
            </div>
            <div class="column">
              <img class="mb-xxs" src="/docs/img/homepage/lightbulb.png" style="height: 20px;">
              <h4>Informed Decisions</h4>
              <p class="gray">Discover new brands, compare solutions and make more informed decisions.</p>
            </div>
          </div>
          <div class="row small-up-1 medium-up-2 mb-base">
            <div class="column">
              <img class="mb-xxs" src="/docs/img/homepage/cloud.png" style="height: 20px;">
              <h4>System of Record</h4>
              <p class="gray">Share information and create an online resource for your firm.</p>
            </div>
            <div class="column">
              <img class="mb-xxs" src="/docs/img/homepage/free.png" style="height: 20px;">
              <h4>Free, For Architects</h4>
              <p class="gray">Source is 100% free for architects. 
              Get access today.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <img src="/docs/img/homepage/window-graphic.png">
        </div>
      </div>
    </div>

    <!-- Recent Searches -->
    <div id="searches" class="pt-l mb-xxl">
      <div class="row align-center">
        <div class="column shrink">
          <h2 class="mb-m">Product Solutions. Simplified.</h2>
        </div>
      </div>
      <!-- Search Cards -->
      <div class="row align-center" style="max-width: 1440px;">
        <div class="column">
          <div class="row small-up-1 medium-up-2 large-up-4" >
            <!-- Multi Image Card 1-->
            <div class="column">
              <div class="card multi-image hover">
              <!-- Image Mobile-->
                <div class="card-section hide-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info" style="height: 180px">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Image Desktop-->
                <div class="card-section show-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="info" style="text-align: center;">
                      <div class="row align-middle collapse" style="height: 100%;">
                        <div class="column">
                          <div class="row mb-xs">
                            <div class="column">
                              <h5>added by</h5>
                            </div>
                          </div>
                          <!-- Avatar -->
                          <div class="row mb-xs">
                            <div class="column">
                              <img class="avatar large" src="https://architizer-prod.imgix.net/media/1496789677388Thomas.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520">
                            </div>
                          </div>
                          <!-- User Name -->
                          <div class="row">
                            <div class="columns align-center">
                              <h4>Mies van der Rohe</h4>
                            </div>
                          </div>
                          <!-- User Role -->
                          <div class="row">
                            <div class="columns align-center">
                              <h5>project team member</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle">
                    <div class="small-10 columns pr-s">
                      <!-- Product Name -->
                      <div class="row">
                        <span class="ellipsis" title="Custom Metal Chair">Custom Metal Chair</span>
                      </div>
                      <!-- Brand Name -->
                      <div class="row align-middle">
                        <div class="columns shrink fs-s gray pr-0" style="max-width: 85%">
                          <p class="mb-0 ellipsis">8 Products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Multi Image Card 2-->
            <div class="column">
              <div class="card multi-image hover">
              <!-- Image Mobile-->
                <div class="card-section hide-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info" style="height: 180px">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Image Desktop-->
                <div class="card-section show-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="info" style="text-align: center;">
                      <div class="row align-middle collapse" style="height: 100%;">
                        <div class="column">
                          <div class="row mb-xs">
                            <div class="column">
                              <h5>added by</h5>
                            </div>
                          </div>
                          <!-- Avatar -->
                          <div class="row mb-xs">
                            <div class="column">
                              <img class="avatar large" src="https://architizer-prod.imgix.net/media/1496789677388Thomas.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520">
                            </div>
                          </div>
                          <!-- User Name -->
                          <div class="row">
                            <div class="columns align-center">
                              <h4>Mies van der Rohe</h4>
                            </div>
                          </div>
                          <!-- User Role -->
                          <div class="row">
                            <div class="columns align-center">
                              <h5>project team member</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle">
                    <div class="small-10 columns pr-s">
                      <!-- Product Name -->
                      <div class="row">
                        <span class="ellipsis" title="Custom Metal Chair">Custom Metal Chair</span>
                      </div>
                      <!-- Brand Name -->
                      <div class="row align-middle">
                        <div class="columns shrink fs-s gray pr-0" style="max-width: 85%">
                          <p class="mb-0 ellipsis">8 Products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Multi Image Card 3-->
            <div class="column">
              <div class="card multi-image hover">
              <!-- Image Mobile-->
                <div class="card-section hide-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info" style="height: 180px">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Image Desktop-->
                <div class="card-section show-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="info" style="text-align: center;">
                      <div class="row align-middle collapse" style="height: 100%;">
                        <div class="column">
                          <div class="row mb-xs">
                            <div class="column">
                              <h5>added by</h5>
                            </div>
                          </div>
                          <!-- Avatar -->
                          <div class="row mb-xs">
                            <div class="column">
                              <img class="avatar large" src="https://architizer-prod.imgix.net/media/1496789677388Thomas.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520">
                            </div>
                          </div>
                          <!-- User Name -->
                          <div class="row">
                            <div class="columns align-center">
                              <h4>Mies van der Rohe</h4>
                            </div>
                          </div>
                          <!-- User Role -->
                          <div class="row">
                            <div class="columns align-center">
                              <h5>project team member</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle">
                    <div class="small-10 columns pr-s">
                      <!-- Product Name -->
                      <div class="row">
                        <span class="ellipsis" title="Custom Metal Chair">Custom Metal Chair</span>
                      </div>
                      <!-- Brand Name -->
                      <div class="row align-middle">
                        <div class="columns shrink fs-s gray pr-0" style="max-width: 85%">
                          <p class="mb-0 ellipsis">8 Products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Multi Image Card 4-->
            <div class="column">
              <div class="card multi-image hover">
              <!-- Image Mobile-->
                <div class="card-section hide-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info" style="height: 180px">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Image Desktop-->
                <div class="card-section show-for-large">
                  <div class="card-image card-image-no-margin image-overlay-info">
                    <div class="image-items-container">
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                      <div class="image-item" style="background-image: url('https://architizer-prod.imgix.net/media/1495726376799-Product_Slider_2048x2048.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520')">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="info" style="text-align: center;">
                      <div class="row align-middle collapse" style="height: 100%;">
                        <div class="column">
                          <div class="row mb-xs">
                            <div class="column">
                              <h5>added by</h5>
                            </div>
                          </div>
                          <!-- Avatar -->
                          <div class="row mb-xs">
                            <div class="column">
                              <img class="avatar large" src="https://architizer-prod.imgix.net/media/1496789677388Thomas.jpg?auto=format,compress&cs=strip&fit=crop&q=60&w=520">
                            </div>
                          </div>
                          <!-- User Name -->
                          <div class="row">
                            <div class="columns align-center">
                              <h4>Mies van der Rohe</h4>
                            </div>
                          </div>
                          <!-- User Role -->
                          <div class="row">
                            <div class="columns align-center">
                              <h5>project team member</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle">
                    <div class="small-10 columns pr-s">
                      <!-- Product Name -->
                      <div class="row">
                        <span class="ellipsis" title="Custom Metal Chair">Custom Metal Chair</span>
                      </div>
                      <!-- Brand Name -->
                      <div class="row align-middle">
                        <div class="columns shrink fs-s gray pr-0" style="max-width: 85%">
                          <p class="mb-0 ellipsis">8 Products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Journal-->
    <div id="journal" class="pt-l mb-xxl">
      <div class="row align-center">
        <div class="column shrink">
          <h2 class="mb-m">Architizer Journal</h2>
        </div>
      </div>
      <div class="row small-up-1 medium-up-3 large-up-6" style="max-width: 1440px;">
        <!-- Journal Article -->
        <div class="column mb-base">
          <div class="journal">
            <img class="journal-img" src="https://architizer-prod.imgix.net/media/mediadata/uploads/1507710461981FRAN_SILVESTRE_ARQUITECTOS_GUEST_PAVILION_037.jpg?q=60&auto=format,compress&cs=strip&w=1680">
            <div style="padding: 0  0.5rem 0.5rem;"> <span class="journal-title" style="line-height: 1.2">How to Select the Perfect Species of Wood for Your External Cladding</span></div>
          </div>
        </div>
        <!-- Journal Article -->
        <div class="column mb-base">
          <div class="journal">
            <img class="journal-img" src="https://architizer-prod.imgix.net/media/mediadata/uploads/1507710461981FRAN_SILVESTRE_ARQUITECTOS_GUEST_PAVILION_037.jpg?q=60&auto=format,compress&cs=strip&w=1680">
            <div style="padding: 0  0.5rem 0.5rem;"> <span class="journal-title" style="line-height: 1.2">How to Select the Perfect Species of Wood for Your External Cladding</span></div>
          </div>
        </div>
        <!-- Journal Article -->
        <div class="column mb-base">
          <div class="journal">
            <img class="journal-img" src="https://architizer-prod.imgix.net/media/mediadata/uploads/1507710461981FRAN_SILVESTRE_ARQUITECTOS_GUEST_PAVILION_037.jpg?q=60&auto=format,compress&cs=strip&w=1680">
            <div style="padding: 0  0.5rem 0.5rem;"> <span class="journal-title" style="line-height: 1.2">How to Select the Perfect Species of Wood for Your External Cladding</span></div>
          </div>
        </div>
        <!-- Journal Article -->
        <div class="column mb-base">
          <div class="journal">
            <img class="journal-img" src="https://architizer-prod.imgix.net/media/mediadata/uploads/1507710461981FRAN_SILVESTRE_ARQUITECTOS_GUEST_PAVILION_037.jpg?q=60&auto=format,compress&cs=strip&w=1680">
            <div style="padding: 0  0.5rem 0.5rem;"> <span class="journal-title" style="line-height: 1.2">How to Select the Perfect Species of Wood for Your External Cladding</span></div>
          </div>
        </div>
        <!-- Journal Article -->
        <div class="column mb-base">
          <div class="journal">
            <img class="journal-img" src="https://architizer-prod.imgix.net/media/mediadata/uploads/1507710461981FRAN_SILVESTRE_ARQUITECTOS_GUEST_PAVILION_037.jpg?q=60&auto=format,compress&cs=strip&w=1680">
            <div style="padding: 0  0.5rem 0.5rem;"> <span class="journal-title" style="line-height: 1.2">How to Select the Perfect Species of Wood for Your External Cladding</span></div>
          </div>
        </div>
        <!-- Journal Article -->
        <div class="column mb-base">
          <div class="journal">
            <img class="journal-img" src="https://architizer-prod.imgix.net/media/mediadata/uploads/1507710461981FRAN_SILVESTRE_ARQUITECTOS_GUEST_PAVILION_037.jpg?q=60&auto=format,compress&cs=strip&w=1680">
            <div style="padding: 0  0.5rem 0.5rem;"> <span class="journal-title" style="line-height: 1.2">How to Select the Perfect Species of Wood for Your External Cladding</span></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Featured Projects -->
    <div id="projects" class="pt-l mb-xxl">
      <div class="row align-center">
        <div class="column shrink">
          <h2 class="mb-m">Featured Projects</h2>
        </div>
      </div>
      <!-- Project Cards -->
      <div class="row align-center" style="max-width: 1440px;">
        <div class="column">
          <div class="row small-up-1 medium-up-2 large-up-4" >
            <!-- Project Card 1-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle mt-s">
                    <div class="columns">
                      <h4 class="ellipsis">Barclays Center</h4>
                      <span>SHoP Architects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Project Card 2-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle mt-s">
                    <div class="columns">
                      <h4 class="ellipsis">Barclays Center</h4>
                      <span>SHoP Architects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Project Card 3-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle mt-s">
                    <div class="columns">
                      <h4 class="ellipsis">Barclays Center</h4>
                      <span>SHoP Architects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Project Card 4-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/mediadata/projects/072013/e7bae5f8.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="row align-middle mt-s">
                    <div class="columns">
                      <h4 class="ellipsis">Barclays Center</h4>
                      <span>SHoP Architects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Featured Brands -->
    <div id="brands" class="pt-l mb-xxl">
      <div class="row align-center">
        <div class="column shrink">
          <h2 class="mb-m">Featured Brands</h2>
        </div>
      </div>
      <!-- Brand Cards -->
      <div class="row align-center" style="max-width: 1440px;">
        <div class="column">
          <div class="row small-up-1 medium-up-2 large-up-4" >
            <!-- Brand Card 1-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="flex-container align-middle mt-s">
                    <div style="background-image: url('https://architizer-prod.imgix.net/media/mediadata/uploads/1508182952brands.brand.128.jpg?q=60&amp;auto=format,compress&amp;cs=strip&amp;w=100');background-position:center; margin-right: 0.5rem;" class="brand-avatar"></div>
                    <div class="brand-info">
                      <h4 class="ellipsis">Duravit</h4>
                      <span class="gray">140 Projects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Brand Card 2-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="flex-container align-middle mt-s">
                    <div style="background-image: url('https://architizer-prod.imgix.net/media/mediadata/uploads/1508182952brands.brand.128.jpg?q=60&amp;auto=format,compress&amp;cs=strip&amp;w=100');background-position:center; margin-right: 0.5rem;" class="brand-avatar"></div>
                    <div class="brand-info">
                      <h4 class="ellipsis">Duravit</h4>
                      <span class="gray">140 Projects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Brand Card 3-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="flex-container align-middle mt-s">
                    <div style="background-image: url('https://architizer-prod.imgix.net/media/mediadata/uploads/1508182952brands.brand.128.jpg?q=60&amp;auto=format,compress&amp;cs=strip&amp;w=100');background-position:center; margin-right: 0.5rem;" class="brand-avatar"></div>
                    <div class="brand-info">
                      <h4 class="ellipsis">Duravit</h4>
                      <span class="gray">140 Projects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Brand Card 4-->
            <div class="column">
              <div class="card hover">
                <!-- Image -->
                <div class="card-section">
                  <div class="card-image card-image-no-margin hide-for-large" style="height: 160px; background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                  <div class="card-image card-image-no-margin show-for-large" style="background-image: url('https://architizer-prod.imgix.net/media/144717674289001_P3_Comforts_20862_75.jpg?q=60&auto=format,compress&cs=strip&w=1680)"></div>
                </div>
                <!-- Info -->
                <div class="card-section">
                  <div class="flex-container align-middle mt-s">
                    <div style="background-image: url('https://architizer-prod.imgix.net/media/mediadata/uploads/1508182952brands.brand.128.jpg?q=60&amp;auto=format,compress&amp;cs=strip&amp;w=100');background-position:center; margin-right: 0.5rem;" class="brand-avatar"></div>
                    <div class="brand-info">
                      <h4 class="ellipsis">Duravit</h4>
                      <span class="gray">140 Projects</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ticker -->
    <div id="ticker" class="pt-l mb-xxl">
      <div class="row align-center">
        <div class="column shrink">
          <h2 class="mb-s" style="letter-spacing: 12px;">$6,064,412,002</h2>
        </div>
      </div>
      <div class="row align-center">
        <div class="large-5 columns">
          <p class="text-center">That’s the construction value that Architizer has helped bring to life. The average search is worth <b>$100k</b> and the average project is worth <b>$3.2m.</b>  Join Architizer to get your brand in front of actively specifying architects.</p>
        </div>
      </div>
      <div class="row align-center">
        <button class="button p-base">Create a Brand</button>
      </div>
    </div>


    <!-- Page content ends here -->

    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
