<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <style type="text/css">
      html, body, .container {
        height: 100%;
      }
      .adk .templates-list {
        list-style-type: none;
      }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADK Templates</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />
  </head>

  <body class="bg-extra-light-gray">
    <div class="row flex-child-auto flex-container flex-dir-row align-middle align-center">
      <h1 class="fw-bold columns small-12">
        ADK Templates
      </h1>
      <ul class="templates-list columns small-12">
          <li>
            <a href="card-hover.html">
              card-hover
            </a>
          </li>
          <li>
            <a href="footer.html">
              footer
            </a>
          </li>
          <li>
            <a href="form.html">
              form
            </a>
          </li>
          <li>
            <a href="grid-all-products.html">
              grid-all-products
            </a>
          </li>
          <li>
            <a href="grid-all-projects.html">
              grid-all-projects
            </a>
          </li>
          <li>
            <a href="grid-all-searches.html">
              grid-all-searches
            </a>
          </li>
          <li>
            <a href="grid-messages.html">
              grid-messages
            </a>
          </li>
          <li>
            <a href="grid-opportunities-feed.html">
              grid-opportunities-feed
            </a>
          </li>
          <li>
            <a href="grid-opportunities-view.html">
              grid-opportunities-view
            </a>
          </li>
          <li>
            <a href="grid-search-view.html">
              grid-search-view
            </a>
          </li>
          <li>
            <a href="layout.html">
              layout
            </a>
          </li>
          <li>
            <a href="masonry-grid.html">
              masonry-grid
            </a>
          </li>
          <li>
            <a href="messages-centered.html">
              messages-centered
            </a>
          </li>
          <li>
            <a href="modal.html">
              modal
            </a>
          </li>
          <li>
            <a href="projects-centered.html">
              projects-centered
            </a>
          </li>
          <li>
            <a href="responsive-cards-grid.html">
              responsive-cards-grid
            </a>
          </li>
          <li>
            <a href="responsive-cards.html">
              responsive-cards
            </a>
          </li>
          <li>
            <a href="searches-centered.html">
              searches-centered
            </a>
          </li>
          <li>
            <a href="table.html">
              table
            </a>
          </li>
      </ul>
    </div>
  </body>
</html>