<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architizer Design Kit Starter Template</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="/css/adk.css" />

  </head>
  <body>
  <!-- Respopnsive Top/Title Bar -->
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button type="button" data-toggle><i class="material-icons white">menu</i></button>
    <div class="title-bar-title"><span class="architizer-glyph white">C</span></div>
  </div>
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="row">
      <div class="columns">
        <div id="responsive-menu">
          <div class="top-bar-left">
            <ul class="vertical medium-horizontal menu" data-dropdown-menu>
              <li class=""><a><object class="nav-logo" type="image/svg+xml" data="/docs/logo/source-logo.svg">Architizer Source</object></a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Projects</a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#" class="black">Rem Koolhaas</a>
                <ul class="menu vertical">
                  <li><a href="#">Your Profile &amp; Collections</a></li>
                  <li><a href="#"><i class="material-icons">work</i> OMA</a></li>
                  <li><a href="#">Account Settings</a></li>
                  <li><a href="#">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Actionbar -->
  <div class="actionbar">
    <!-- Left: Data -->
    <div class="row align-middle">
      <div class="small-12 large-expand columns">
        <!-- Breadcrumbs -->
        <div class="row">
          <div class="columns">
            <ul class="breadcrumbs">
              <li><a href="#">Home</a></li>
              <li><a href="#">Journal Squared</a></li>
              <li>
                <!-- Current View Title -->
                <span class="inline-block">14 Ergonomic Office Chairs</span>
                <!-- Dropdown "..." Menu -->
                <span class="inline-block">
                  <ul class="dropdown menu" data-dropdown-menu data-click-open="true" data-disable-hover="true">
                    <li>
                      <span><i class="material-icons">more_horiz</i></span>
                      <ul class="menu">
                        <li><a href="#">Details</a></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Preview</a></li>
                        <li><a class="disabled" href="#">Download CSV</a></li>
                        <li><a class="red" href="#">Delete</a></li>
                      </ul>
                    </li>
                  </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Current View Title -->
        <div class="row">
          <div class="columns">
            <h3>Products</h3>
          </div>
        </div>
      </div>
      <!-- Right: Buttons -->
      <div class="columns shrink">
        <a class="light-gray mr-l">Searches</a>
        <a class="light-gray mr-l">Messages</a>
        <a class="primary button">New Search</a>
      </div>
    </div>
  </div>
  <!-- Cards -->
  <div class="row small-up-1 medium-up-3 large-up-4">
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Card -->
    <div class="column">
      <div class="card clickable"
        onclick="cardClick()">
        <!-- Card Image -->
        <div class="card-section card-image card-image-no-margin"
          style="background-image: url('/docs/img/table.jpg')"></div>
        <!-- Card Content -->
        <div class="card-section">
          <!-- Response Marking and Dropdown Menu-->
          <div class="row">
            <!-- Response Marking -->
            <div class="columns">
              <span class="caption blue">New Product</span>
            </div>
          </div>
          <!-- Product Name -->
          <div class="row align-middle">
            <div class="small-12 medium-8 columns">
              <div class="row">
                <strong class="ellipsis">Pollock Executive Chair (Long Name Edition, what happens when the name is too long?!)</strong>
              </div>
              <!-- Brand Name -->
              <div class="row align-middle">
                <div class="columns shrink meta">
                  <span>Knoll</span>
                </div>
                <!-- If Verified -->
                <div class="columns shrink ml-xxs pl-0">
                  <span class="architizer-glyph blue-500">+</span>
                </div>
              </div>
            </div>
            <!-- Shortlist / Dismiss buttons -->
            <div class="small-12 medium-4 columns">
              <div class="float-right">
                <button class="alert icon button"><span class="material-icons">close</span></button>
                <button class="success icon button"><span class="material-icons">done</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <!--     <div class="row">
      <table class="hover">
        <thead>
          <tr>
            <th width="160">Brand</th>
            <th width="200">Product Name</th>
            <th width="200">Attachments</th>
            <th>Status</th>
            <th class="center" width="100">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a class="underline">Knoll</a></td>
            <td>Pollock Executive Chair</td>
            <td>
                <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
                <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
                <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
                <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
                <span class="fs-s">+2</span>
            </td>
            <td>Recommended</td>
            <td class="action"><a>View</a></td>
          </tr>
          <tr>
            <td><a class="underline">Herman Miller</a></td>
            <td>Aeron Chair</td>
            <td>
              <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
            </td>
            <td>In Review</td>
            <td class="action"><a>View</a></td>
          </tr>
          <tr class="inactive">
            <td><a class="underline">Steelcase</a></td>
            <td>Mesh Think Chair</td>
            <td>
              <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
              <a><img class="thumbnail in-table" src="/docs/img/table.jpg" alt="Product"></a>
            </td>
            <td>Dismissed</td>
            <td class="action"><a>View</a></td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <!-- Page content ends here -->
    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
