<!doctype html>
<html class="adk no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Kit Modal</title>
    <!-- Architizer Design Kit CSS -->
    <link rel="stylesheet" href="//localhost:8080/css/adk.css" />
  </head>
  <body class="">
    <!-- Page content begins here -->
    <div class="row mt-xxxl">
      <div class="small-3 small-centered column">
        <!-- Open Modal -->
        <a class="large button" style="color:white" data-open="exampleModal1">Click me for a modal</a>
      </div>
    </div>
    <!-- Modal -->
    <div class="reveal" id="exampleModal1" data-reveal>
      <div class="header">
        <h4>Awesome Product.</h4>
<!--       <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button> -->
      </div>
      <div class="modal-section">
      <h5 class="mb-xs"><strong>Brand</strong></h5>
        <div class="row collapse align-middle">
          <div class="small-1 columns">
            <img class="thumbnail brand" src="https://architizer-prod.imgix.net/media/1485379392079-source.gif?q=60&auto=format,compress&cs=strip&w=1080" alt="Product">
          </div>
          <div class="columns">
            <h5>Cubby Bear Manufacturing</h5>
            <span class="meta">Sent on January 4, 2017</span>
          </div>
        </div>
      </div>
      <!-- attacmhments -->
      <div class="modal-section">
        <h5 class="mb-xs"><strong>Attachments</strong></h5>
        <div class="thumbnails-up-4">
          <div class="thumb-col">
            <img class="thumbnail" src="https://architizer-prod.imgix.net/media/1485379392079-source.gif?q=60&auto=format,compress&cs=strip&w=1080" alt="Product">
          </div>
          <div class="thumb-col">
            <img class="thumbnail" src="https://architizer-prod.imgix.net/media/1485379392079-source.gif?q=60&auto=format,compress&cs=strip&w=1080" alt="Product">
          </div>
          <div class="thumb-col">
            <img class="thumbnail" src="https://architizer-prod.imgix.net/media/1485379392079-source.gif?q=60&auto=format,compress&cs=strip&w=1080" alt="Product">
          </div>
          <div class="thumb-col">
            <img class="thumbnail" src="https://architizer-prod.imgix.net/media/1485379392079-source.gif?q=60&auto=format,compress&cs=strip&w=1080" alt="Product">
          </div>
        </div>
      </div>
      <div class="modal-section">
        <!-- <h4>Awesome Product.</h4> -->
        <h5 class="mb-xs"><strong>Description</strong></h5>
        <p>I'm really just a wonderful product inside of an even cooler modal. Puppy kitty ipsum dolor sit good dog roll over carrier tuxedo fish lol catz puppy kisses pet supplies meow scooby snacks meow mittens. Fido Rover lol catz yawn drool wag tail Fido food pet gate purr warm behavior kibble litter box ID tag. Roll Over house train chirp pet supplies shake polydactyl wet nose harness tabby biscuit gimme five Rover vaccine roll over licks nap parrot lol catz. Wins!</p>
      </div>
      <!-- metrics -->
      <div class="modal-section">
        <h5 class="mb-xs"><strong>Specifications</strong></h5>
        <div class="row small-up-4 collapse">
          <div class="column">
            <h5>1.00 – 2.00 USD</h5>
            <h6 class="subheader">Price Per Units</h6>
          </div>
          <div class="column">
            <h5>Two Weeks</h5>
            <h6 class="subheader">Lead Time</h6>
          </div>
          <div class="column">
            <h5>2.00 – 3.00 USD</h5>
            <h6 class="subheader">Price Per Units</h6>
          </div>
          <div class="column">
            <h5>11 Week</h5>
            <h6 class="subheader">Lead Time</h6>
          </div>
        </div>
      </div>
      <div class="modal-section">
        <div class="row flex-dir-row-reverse collapse">
          <div class="column">
            <button class="secondary hollow icon button"><span class="material-icons">done</span></button>
            <button class="secondary hollow icon button"><span class="material-icons">close</span></button>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row align-center">
          <div class="small-6 columns button-group expanded">
            <button class="secondary hollow small button" data-close type="button">Close</button>
            <button class="small button" data-close type="button">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content ends here -->
    <!-- JavaScript dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
  </body>
</html>