<!doctype html>
<html lang="en" class="adk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Style Guide</title>

    <!-- Default Selectize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css">

    <!-- Design Kit CSS -->
    <link rel="stylesheet" href="css/adk.css">

    <!-- Highlight.js syntax highlighting -->
    <link rel="stylesheet" href="docs/syntax-highlighting.css">
    
    <!-- Other documentation site CSS -->
    <link rel="stylesheet" href="docs/docs.css">
  </head>
  <body>

    <div class="row mt-xxl mb-s">
      <div class="small-12 columns">
        <h1>Architizer Design Kit</h1>
        <p>This is Architizer's living style guide, based on a Foundation 6. This encompasses the elements specific to Architizer's UI. To see the full extent of this responsive front-end framework or for more detailed instructions, reference <a href="http://foundation.zurb.com/docs/">documentation</a>, or get help from the <a href="http://foundation.zurb.com/forum/">Foundation community.</a></p>
      </div>
    </div>

    <div class="row">

      <div class="large-3 medium-4 columns">
        <ul class="tabs vertical" id="tabs-navigation" data-tabs>
          {{#each pages}}
            <li class="tabs-title {{#if @first}}is-active{{/if}}"><a href="#{{ anchor }}">{{ title }}</a></li>
          {{/each}}
        </ul>
      </div>

      <div class="large-9 medium-8 columns">
        <div class="tabs-content vertical" data-tabs-content="tabs-navigation">
          {{#each pages}}
            <div class="tabs-panel {{#if @first}}is-active{{/if}} content" id="{{ anchor }}">
              {{ body }}
            </div>
          {{/each}}
        </div>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>

    <!-- Selectize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>

    <!-- Dropzone JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>

    <!-- Other documentation site JavaScript -->
    <script src="docs/docs.js"></script>

  </body>
</html>
